In [6]:
import pandas as pd
import xml.etree.ElementTree as ET
import psycopg2
from datetime import datetime
import re
import cx_Oracle
from psycopg2 import sql


# PostgreSQL connection parameters
db_params = {
    "host": "gc-ue4-psql-cspo-dev01.nonprod.gcp.cswg.com",
    "database": "CSPODB",
    "port": 5432,
    "user": "cspoms",
    "password": "cspoms",
    "sslmode": "verify-ca",
    "sslcert": "D:\\W\\RELEX\\RELEX\\CSPOMS_DEV_Conn\\client-cert.pem",
    "sslkey": "D:\\W\\RELEX\\RELEX\\CSPOMS_DEV_Conn\\client-key.pem",
    "sslrootcert": "D:\\W\\RELEX\\RELEX\\CSPOMS_DEV_Conn\\server-ca.pem"
}

# Oracle connection parameters
oracle_username = 'apps'
oracle_password = 'apps'
oracle_host = 'csebsd2db.cswg.com'
oracle_port = '1521'
oracle_service_name = 'csebsd2_int'



post_conn = psycopg2.connect(**db_params)
post_cur = post_conn.cursor()

# XML file path
# xml_file_path = 'D:\\W\\RELEX\\RELEX\\Broker and Vendor\\Inbound Files\\VENDOR.xml'
# xml_file_path = 'D:\\W\\RELEX\\RELEX\\Broker and Vendor\\Inbound Files\\BROKER.xml'
text_data_path = 'D:\\W\\RELEX\\RELEX\\Label Flag\AWIROBLABEL.IN645.2023022804100111'


# Open the XML file
with open(text_data_path, 'r', encoding='utf-8') as file:
    text_data = file.read()
try:
    for line in text_data.split('\n'):
        try:
            print(line)
        except Exception as e:
            print(f"Error processing line: {line}. Exception: {e}")
except Exception as e:
    print(f"Error processing file: {file}. Error: {str(e)}")

0101AP00197306202302270730Y01         000085545N                              S/W TO FOLLOW AT LEADTIME                                   001178T097
0101AP00198572202302280330Y01         000085541N                              S/W 94198572,9419881          SHIPPER 4/3 S/W 94198572,941  999999B101
0101AP00198881202302280330Y01         000085540N                                                            S/W 94198572,9419881          999999B101
0102AP00198910202302280330Y01         000085553N                              2/21                                                          SMITT033
0101AP00198937202302270730Y01         000085544N                                                                                          001178T097
0103AP00198988202302280330Y01         000085546N                                                                                          C.L. ST055
0103AP00198988202302280330Y01         000085546N                                                                                          C.L. ST055
0102AP00198993202302280330Y01         000085550N                                                                                          Four KT027
0102AP00198996202302210000Y01         000085549N                                                                                          001178T097
0103AP00199018202302280330Y01         000085542NSEAL#0212042                                                                              Total T050
0103AP00199018202302280330Y01         000085542NSEAL#0212042                                                                              Total T050
0102AP00199029202302280530Y01         000085554N                                                                                          JOHANNT025
0101AP00199031202302280330Y01         000085564N                                                                                          RoadteT075
0102AP00199040202302280330Y01         000085569N                              2/21                                                          SMITT033
0102AP00199041202302280330Y01         000085556N                              2/21                                                          SMITT033
0103AP00199045202302280330Y01         000085551N                                                                                               HT057
0101AP00199075202302270730Y01         000085543N                                                                                          001178T097
0101AP00199191202302270730Y01         000085547N                                                                                          001178T097
0101AP00199195202302270730Y01         000085548N                              50 UNIT MIN                   ODFL 2/27 APPT                001178T097
0103AP00199215202302280330Y01         000085559NSEAL#01324727                                                                                   T051
0103AP00199215202302280330Y01         000085559NSEAL#01324727                                                                                   T051
0101AP00199276202302280330Y01         000085552N                                                                                          999999B107
0101AP00199279202302280530Y01         000085537N                                                                                          999999B106
0101AP00199280202302280330Y01         000085536N                                                                                          999999B103
0101AP00199281202302280530Y01         000085538N                                                                                          999999B104
0101AP00199282202302280330Y01         000085535N                                                                                          999999B098
0102AP00199293202302280330Y01         000085539N                                                                                           CH RoT024
0101AP00199329202302280530Y01         000085534N                                                                                          999999B073
0103AP00199359202302280330Y01         000085531NSEAL#4155727                                                                              999999B056
0103AP00199359202302280330Y01         000085531NSEAL#4155727                                                                              999999B056
0103AP00199360202302280330Y01         000085532NSEAL#4153884                                                                              999999B053
0103AP00199360202302280330Y01         000085532NSEAL#4153884                                                                              999999B053
0103AP00199361202302280330Y01         000085533NSEAL#4155725                                                                              999999B054
0103AP00199361202302280330Y01         000085533NSEAL#4155725                                                                              999999B054
0101AP00199515202302280930Y01         000085561N                              S/W 501925-31,33-39           S/W 501925-31,33-39           999999T102
0101AP00199516202302280930Y01         000085555N                              S/W 501925-31,33-39           S/W 501925-31,33-39           999999T102
0101AP00199517202302280930Y01         000085557N                              S/W 501925-31,33-39           S/W 501925-31,33-39           999999T102
0101AP00199518202302280930Y01         000085566N                              S/W 501925-31,33-39           S/W 501925-31,33-39           999999T102
0101AP00199519202302280930Y01         000085560N                              S/W 501925-31,33-39           S/W 501925-31,33-39           999999T102
0101AP00199520202302280930Y01         000085565N                              S/W 501925-31,33-39           S/W 501925-31,33-39           999999T102
0101AP00199521202302280930Y01         000085573N                              S/W 501925-31,33-39           S/W 501925-31,33-39           999999T102
0101AP00199522202302280930Y01         000085567N                                                                                          999999T102
0101AP00199523202302280930Y01         000085558N                              S/W 501925-31,33-39           S/W 501925-31,33-39           999999T102
0101AP00199524202302280930Y01         000085568N                              S/W 501925-31,33-39           S/W 501925-31,33-39           999999T102
0101AP00199525202302280930Y01         000085570N                              S/W 501925-31,33-39           S/W 501925-31,33-39           999999T102
0101AP00199526202302280930Y01         000085571N                              S/W 501925-31,33-39           S/W 501925-31,33-39           999999T102
0101AP00199528202302280930Y01         000085563N                              S/W 501925-31,33-39           S/W 501925-31,33-39           999999T102
0101AP00199529202302280930Y01         000085562N                              S/W 501925-31,33-39           S/W 501925-31,33-39           999999T102
0102AP00992994202302280330Y01         000085572N                              DLVD_529266 P-56.66                                         FRESH T015

In [16]:
text_data_path = 'D:\\W\\RELEX\\RELEX\\Label Flag\AWIROBLABEL.IN645.2023022804100111'

# Define positions for slicing each line into tuples
[(0, 2), (2, 4), (4, 6), (6, 8), (8, 14), (14, 16), (16, 18), (18, 20), (20, 22), (22, 24), (24, 26), (26, 27), (27, 29), (29, 30), (30, 32), (32, 34), (34, 36), (36, 38), (38, 47), (47, 48), (48, 78), (78, 138), (138, 144), (144, 145), (145, 152), (152, 163), (163, 171), (171, 175), (175, 176), (176, 240)]

# Open the file and read its content
with open(text_data_path, 'r', encoding='utf-8') as file:
    text_data = file.read()
def process_text_data(text_data, positions):
    # List to store extracted data as tuples
    extracted_data = []

    try:
        for line in text_data.split('\n'):
            try:
                # Slice each line based on positions and create a tuple
                line_data = tuple(line[start:end].strip() for start, end in positions)

                # Check if the tuple is not empty (contains at least one non-blank element)
                if any(field for field in line_data):
                    # Append the tuple to the list
                    extracted_data.append(line_data)

            except Exception as e:
                print(f"Error processing line: {line}. Exception: {e}")

    except Exception as e:
        print(f"Error processing text data. Error: {str(e)}")

    # Return the list of tuples
    return extracted_data


result = process_text_data(text_data, positions)
print(result)

[('01', '01', 'AP', '00', '197306', '20', '23', '02', '27', '07', '30', 'Y', '01', '', '', '', '', '', '000085545', 'N', '', 'S/W TO FOLLOW AT LEADTIME', '001178', 'T', '097', '', '', '', '', ''), ('01', '01', 'AP', '00', '198572', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085541', 'N', '', 'S/W 94198572,9419881          SHIPPER 4/3 S/W 94198572,941', '999999', 'B', '101', '', '', '', '', ''), ('01', '01', 'AP', '00', '198881', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085540', 'N', '', 'S/W 94198572,9419881', '999999', 'B', '101', '', '', '', '', ''), ('01', '02', 'AP', '00', '198910', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085553', 'N', '', '2/21', 'SMIT', 'T', '033', '', '', '', '', ''), ('01', '01', 'AP', '00', '198937', '20', '23', '02', '27', '07', '30', 'Y', '01', '', '', '', '', '', '000085544', 'N', '', '', '001178', 'T', '097', '', '', '', '', ''), ('01', '03', 'AP', '00', '198988', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085546', 'N', '', '', 'C.L. S', 'T', '055', '', '', '', '', ''), ('01', '03', 'AP', '00', '198988', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085546', 'N', '', '', 'C.L. S', 'T', '055', '', '', '', '', ''), ('01', '02', 'AP', '00', '198993', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085550', 'N', '', '', 'Four K', 'T', '027', '', '', '', '', ''), ('01', '02', 'AP', '00', '198996', '20', '23', '02', '21', '00', '00', 'Y', '01', '', '', '', '', '', '000085549', 'N', '', '', '001178', 'T', '097', '', '', '', '', ''), ('01', '03', 'AP', '00', '199018', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085542', 'N', 'SEAL#0212042', '', 'Total', 'T', '050', '', '', '', '', ''), ('01', '03', 'AP', '00', '199018', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085542', 'N', 'SEAL#0212042', '', 'Total', 'T', '050', '', '', '', '', ''), ('01', '02', 'AP', '00', '199029', '20', '23', '02', '28', '05', '30', 'Y', '01', '', '', '', '', '', '000085554', 'N', '', '', 'JOHANN', 'T', '025', '', '', '', '', ''), ('01', '01', 'AP', '00', '199031', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085564', 'N', '', '', 'Roadte', 'T', '075', '', '', '', '', ''), ('01', '02', 'AP', '00', '199040', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085569', 'N', '', '2/21', 'SMIT', 'T', '033', '', '', '', '', ''), ('01', '02', 'AP', '00', '199041', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085556', 'N', '', '2/21', 'SMIT', 'T', '033', '', '', '', '', ''), ('01', '03', 'AP', '00', '199045', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085551', 'N', '', '', 'H', 'T', '057', '', '', '', '', ''), ('01', '01', 'AP', '00', '199075', '20', '23', '02', '27', '07', '30', 'Y', '01', '', '', '', '', '', '000085543', 'N', '', '', '001178', 'T', '097', '', '', '', '', ''), ('01', '01', 'AP', '00', '199191', '20', '23', '02', '27', '07', '30', 'Y', '01', '', '', '', '', '', '000085547', 'N', '', '', '001178', 'T', '097', '', '', '', '', ''), ('01', '01', 'AP', '00', '199195', '20', '23', '02', '27', '07', '30', 'Y', '01', '', '', '', '', '', '000085548', 'N', '', '50 UNIT MIN                   ODFL 2/27 APPT', '001178', 'T', '097', '', '', '', '', ''), ('01', '03', 'AP', '00', '199215', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085559', 'N', 'SEAL#01324727', '', '', 'T', '051', '', '', '', '', ''), ('01', '03', 'AP', '00', '199215', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085559', 'N', 'SEAL#01324727', '', '', 'T', '051', '', '', '', '', ''), ('01', '01', 'AP', '00', '199276', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085552', 'N', '', '', '999999', 'B', '107', '', '', '', '', ''), ('01', '01', 'AP', '00', '199279', '20', '23', '02', '28', '05', '30', 'Y', '01', '', '', '', '', '', '000085537', 'N', '', '', '999999', 'B', '106', '', '', '', '', ''), ('01', '01', 'AP', '00', '199280', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085536', 'N', '', '', '999999', 'B', '103', '', '', '', '', ''), ('01', '01', 'AP', '00', '199281', '20', '23', '02', '28', '05', '30', 'Y', '01', '', '', '', '', '', '000085538', 'N', '', '', '999999', 'B', '104', '', '', '', '', ''), ('01', '01', 'AP', '00', '199282', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085535', 'N', '', '', '999999', 'B', '098', '', '', '', '', ''), ('01', '02', 'AP', '00', '199293', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085539', 'N', '', '', 'CH Ro', 'T', '024', '', '', '', '', ''), ('01', '01', 'AP', '00', '199329', '20', '23', '02', '28', '05', '30', 'Y', '01', '', '', '', '', '', '000085534', 'N', '', '', '999999', 'B', '073', '', '', '', '', ''), ('01', '03', 'AP', '00', '199359', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085531', 'N', 'SEAL#4155727', '', '999999', 'B', '056', '', '', '', '', ''), ('01', '03', 'AP', '00', '199359', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085531', 'N', 'SEAL#4155727', '', '999999', 'B', '056', '', '', '', '', ''), ('01', '03', 'AP', '00', '199360', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085532', 'N', 'SEAL#4153884', '', '999999', 'B', '053', '', '', '', '', ''), ('01', '03', 'AP', '00', '199360', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085532', 'N', 'SEAL#4153884', '', '999999', 'B', '053', '', '', '', '', ''), ('01', '03', 'AP', '00', '199361', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085533', 'N', 'SEAL#4155725', '', '999999', 'B', '054', '', '', '', '', ''), ('01', '03', 'AP', '00', '199361', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085533', 'N', 'SEAL#4155725', '', '999999', 'B', '054', '', '', '', '', ''), ('01', '01', 'AP', '00', '199515', '20', '23', '02', '28', '09', '30', 'Y', '01', '', '', '', '', '', '000085561', 'N', '', 'S/W 501925-31,33-39           S/W 501925-31,33-39', '999999', 'T', '102', '', '', '', '', ''), ('01', '01', 'AP', '00', '199516', '20', '23', '02', '28', '09', '30', 'Y', '01', '', '', '', '', '', '000085555', 'N', '', 'S/W 501925-31,33-39           S/W 501925-31,33-39', '999999', 'T', '102', '', '', '', '', ''), ('01', '01', 'AP', '00', '199517', '20', '23', '02', '28', '09', '30', 'Y', '01', '', '', '', '', '', '000085557', 'N', '', 'S/W 501925-31,33-39           S/W 501925-31,33-39', '999999', 'T', '102', '', '', '', '', ''), ('01', '01', 'AP', '00', '199518', '20', '23', '02', '28', '09', '30', 'Y', '01', '', '', '', '', '', '000085566', 'N', '', 'S/W 501925-31,33-39           S/W 501925-31,33-39', '999999', 'T', '102', '', '', '', '', ''), ('01', '01', 'AP', '00', '199519', '20', '23', '02', '28', '09', '30', 'Y', '01', '', '', '', '', '', '000085560', 'N', '', 'S/W 501925-31,33-39           S/W 501925-31,33-39', '999999', 'T', '102', '', '', '', '', ''), ('01', '01', 'AP', '00', '199520', '20', '23', '02', '28', '09', '30', 'Y', '01', '', '', '', '', '', '000085565', 'N', '', 'S/W 501925-31,33-39           S/W 501925-31,33-39', '999999', 'T', '102', '', '', '', '', ''), ('01', '01', 'AP', '00', '199521', '20', '23', '02', '28', '09', '30', 'Y', '01', '', '', '', '', '', '000085573', 'N', '', 'S/W 501925-31,33-39           S/W 501925-31,33-39', '999999', 'T', '102', '', '', '', '', ''), ('01', '01', 'AP', '00', '199522', '20', '23', '02', '28', '09', '30', 'Y', '01', '', '', '', '', '', '000085567', 'N', '', '', '999999', 'T', '102', '', '', '', '', ''), ('01', '01', 'AP', '00', '199523', '20', '23', '02', '28', '09', '30', 'Y', '01', '', '', '', '', '', '000085558', 'N', '', 'S/W 501925-31,33-39           S/W 501925-31,33-39', '999999', 'T', '102', '', '', '', '', ''), ('01', '01', 'AP', '00', '199524', '20', '23', '02', '28', '09', '30', 'Y', '01', '', '', '', '', '', '000085568', 'N', '', 'S/W 501925-31,33-39           S/W 501925-31,33-39', '999999', 'T', '102', '', '', '', '', ''), ('01', '01', 'AP', '00', '199525', '20', '23', '02', '28', '09', '30', 'Y', '01', '', '', '', '', '', '000085570', 'N', '', 'S/W 501925-31,33-39           S/W 501925-31,33-39', '999999', 'T', '102', '', '', '', '', ''), ('01', '01', 'AP', '00', '199526', '20', '23', '02', '28', '09', '30', 'Y', '01', '', '', '', '', '', '000085571', 'N', '', 'S/W 501925-31,33-39           S/W 501925-31,33-39', '999999', 'T', '102', '', '', '', '', ''), ('01', '01', 'AP', '00', '199528', '20', '23', '02', '28', '09', '30', 'Y', '01', '', '', '', '', '', '000085563', 'N', '', 'S/W 501925-31,33-39           S/W 501925-31,33-39', '999999', 'T', '102', '', '', '', '', ''), ('01', '01', 'AP', '00', '199529', '20', '23', '02', '28', '09', '30', 'Y', '01', '', '', '', '', '', '000085562', 'N', '', 'S/W 501925-31,33-39           S/W 501925-31,33-39', '999999', 'T', '102', '', '', '', '', ''), ('01', '02', 'AP', '00', '992994', '20', '23', '02', '28', '03', '30', 'Y', '01', '', '', '', '', '', '000085572', 'N', '', 'DLVD_529266 P-56.66', 'FRESH', 'T', '015', '', '', '', '', '')]

In [15]:
# Define positions for slicing each line into tuples
lengths = [
    2, 2, 2, 2, 6, 2, 2, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 9, 1, 30, 60, 6, 1, 7, 11, 8, 4, 1, 64
]

# Calculate the end positions based on the lengths
end_positions = [sum(lengths[:i + 1]) for i in range(len(lengths))]

# Create positions as tuples of start and end positions
positions = [(start, end) for start, end in zip([0] + end_positions, end_positions)]

print(positions)

[(0, 2), (2, 4), (4, 6), (6, 8), (8, 14), (14, 16), (16, 18), (18, 20), (20, 22), (22, 24), (24, 26), (26, 27), (27, 29), (29, 30), (30, 32), (32, 34), (34, 36), (36, 38), (38, 47), (47, 48), (48, 78), (78, 138), (138, 144), (144, 145), (145, 152), (152, 163), (163, 171), (171, 175), (175, 176), (176, 240)]

In [18]:
def insert_data_to_table(extracted_data, table_name, post_cur):
    # Define the columns present in the table
    table_columns = [
        "FACILITY", "WARE_HOUSE", "RECORD_TYPE", "FILLER", "PO_NUMBER", "APPT_CENTURY", "APPT_YEAR", "APPT_MONTH",
        "APPT_DATE", "APPT_TIME_HH", "APPT_TIME_MIN", "PALLET_LABEL_PRINT", "PARENT_FACILITY", "PO_RE_ROUTE_FLAG",
        "TO_FACILITY", "TO_WAREHOUSE", "FROM_FACILITY", "FROM_WAREHOUSE", "RECEIPT_NUMBER", "APPT_CANCEL_FLAG",
        "WHSE_COMMENTS", "WHSE_COMMENTS2", "CARRIER", "TRANSPORT_TYPE", "RECEIPT_SLOT", "APPOINTMENT_ID",
        "DEPARTURE_DATE", "DEPARTURE_TIME", "LABEL_DEL_EXAMPT_FLAG", "FILLER1"
    ]

    # Filter out columns that are not present in the data
    valid_columns = [col for col in table_columns if any(data[col] for data in extracted_data)]

    # Generate the column names dynamically based on the valid columns
    columns = ", ".join(valid_columns)

    # Generate the placeholders for values dynamically
    value_placeholders = ", ".join(["%s"] * len(valid_columns))

    # Create the INSERT query
    insert_query = f"INSERT INTO {table_name} ({columns}) VALUES ({value_placeholders})"

    # Prepare the data as a list of tuples, considering only valid columns
    data_to_insert = [[data[col] for col in valid_columns] for data in extracted_data]

    try:
        # Execute the INSERT query with the data
        post_cur.executemany(insert_query, data_to_insert)

        # Commit the changes
        post_cur.commit()

        print("Data inserted successfully.")

    except Exception as e:
        print(f"Error inserting data to table: {table_name}. Exception: {e}")
        post_cur.rollback()

# Example usage
text_data_path = 'D:\\W\\RELEX\\RELEX\\Label Flag\\AWIROBLABEL.IN645.2023022804100111'
table_name = 'CSPOMS.XXPO_LABEL_FLAG_AWI_TRICEPS_STG'

# Extract data from text file
# extracted_data = process_text_data(text_data_path)

# Insert data into the table
insert_data_to_table(result, table_name, post_cur)

TypeError: tuple indices must be integers or slices, not str

In [20]:
def insert_data_to_table(extracted_data, table_name, post_cur, column_names):
    # Create the INSERT query with explicit column names and placeholders
    insert_query = f"INSERT INTO {table_name} ({', '.join(column_names)}) VALUES ({', '.join(['%s']*len(column_names))})"
    print(insert_query)
    try:
        # Execute the INSERT query with the data
        post_cur.executemany(insert_query, extracted_data)

        # Commit the changes
        post_conn.commit()

        print("Data inserted successfully.")

    except Exception as e:
        print(f"Error inserting data to table: {table_name}. Exception: {e}")
#         post_cur.rollback()

# Example usage
text_data_path = 'D:\\W\\RELEX\\RELEX\\Label Flag\\AWIROBLABEL.IN645.2023022804100111'
table_name = 'CSPOMS.XXPO_LABEL_FLAG_AWI_TRICEPS_STG'

# Column names in the same order as your data fields
column_names = ['FACILITY', 'WARE_HOUSE', 'RECORD_TYPE', 'FILLER', 'PO_NUMBER', 'APPT_CENTURY', 'APPT_YEAR',
                'APPT_MONTH', 'APPT_DATE', 'APPT_TIME_HH', 'APPT_TIME_MIN', 'PALLET_LABEL_PRINT',
                'PARENT_FACILITY', 'PO_RE_ROUTE_FLAG', 'TO_FACILITY', 'TO_WAREHOUSE', 'FROM_FACILITY',
                'FROM_WAREHOUSE', 'RECEIPT_NUMBER', 'APPT_CANCEL_FLAG', 'WHSE_COMMENTS', 'WHSE_COMMENTS2',
                'CARRIER', 'TRANSPORT_TYPE', 'RECEIPT_SLOT', 'APPOINTMENT_ID', 'DEPARTURE_DATE', 'DEPARTURE_TIME',
                'LABEL_DEL_EXAMPT_FLAG', 'FILLER1']

# # Extract data from text file
# extracted_data = process_text_data(text_data_path)

# Insert data into the table
insert_data_to_table(result, table_name, post_cur, column_names)

INSERT INTO CSPOMS.XXPO_LABEL_FLAG_AWI_TRICEPS_STG (FACILITY, WARE_HOUSE, RECORD_TYPE, FILLER, PO_NUMBER, APPT_CENTURY, APPT_YEAR, APPT_MONTH, APPT_DATE, APPT_TIME_HH, APPT_TIME_MIN, PALLET_LABEL_PRINT, PARENT_FACILITY, PO_RE_ROUTE_FLAG, TO_FACILITY, TO_WAREHOUSE, FROM_FACILITY, FROM_WAREHOUSE, RECEIPT_NUMBER, APPT_CANCEL_FLAG, WHSE_COMMENTS, WHSE_COMMENTS2, CARRIER, TRANSPORT_TYPE, RECEIPT_SLOT, APPOINTMENT_ID, DEPARTURE_DATE, DEPARTURE_TIME, LABEL_DEL_EXAMPT_FLAG, FILLER1) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
Data inserted successfully.