In [3]:
%%time
import cx_Oracle
import pandas as pd
# Source database connection
source_conn = cx_Oracle.connect(
    user="apps",
    password="apps",
    dsn="csebsd2db.cswg.com:1521/csebsd2_int"
)

# Create a cursor
cursor = source_conn.cursor()

# SQL query
merge_query = """
MERGE INTO xxfin.xxar_customer_master a
USING (
    SELECT MAX(TRX_DATE) AS TRX_DATE,
           SHIP_TO_SITE_USE_ID
    FROM APPS.RA_CUSTOMER_TRX_ALL
    WHERE SHIP_TO_SITE_USE_ID IS NOT NULL
    AND LAST_UPDATE_DATE > (SYSDATE - 30)
    GROUP BY SHIP_TO_SITE_USE_ID
) b
ON (a.ship_to_site_use_id = b.ship_to_site_use_id)
WHEN MATCHED THEN
    UPDATE
    SET a.last_bill_date = b.trx_date
"""

try:
#     # Execute the query
#     cursor.execute(merge_query)
# #     cur_gtt= pd.read_sql_query(query, source_conn)
#     # Get the number of rows affected
#     rows_affected = cursor.rowcount
#     print(f"Rows affected: {rows_affected}")
    merge_df = pd.read_sql_query(merge_query, source_conn)
    # Rows affected will be the number of rows in the DataFrame
    rows_affected = len(merge_df)
    print(f"Rows affected in Merge : {rows_affected}")

except cx_Oracle.DatabaseError as e:
    # If an error occurs, print the error message
    print(f"Error: {e}")

finally:
    # Close the cursor and connection
    cursor.close()
    source_conn.close()

TypeError: 'NoneType' object is not iterable

In [3]:
%%time
import cx_Oracle

# Source database connection
source_conn = cx_Oracle.connect(
    user="apps",
    password="apps",
    dsn="csebsd2db.cswg.com:1521/csebsd2_int"
)

# Connect to the Oracle EBS database


# Create a cursor
cursor = source_conn.cursor()

# Call FND_GLOBAL to get USER_ID and CONC_REQUEST_ID
cursor.execute("SELECT FND_GLOBAL.USER_ID, FND_GLOBAL.CONC_REQUEST_ID FROM DUAL")
result = cursor.fetchone()

# Fetch the values
user_id, conc_request_id = result

# Print or use the values as needed
print("User ID:", user_id)
print("Concurrent Request ID:", conc_request_id)

# Close the cursor and connection
cursor.close()
conn.close()

User ID: -1
Concurrent Request ID: -1

NameError: name 'conn' is not defined

In [4]:
import uuid

# Generate a unique identifier (UID) or batch ID
batch_id = str(uuid.uuid4())

# Use the generated batch_id wherever it is required in your job

# Example: Print the batch_id
print("Batch ID:", batch_id)

Batch ID: eb312c48-878a-46bb-9913-cefe2520ded1

In [5]:
import time
import uuid

class RequestIDGenerator:
    def __init__(self):
        self.counter = 0

    def generate_request_id(self):
        timestamp = int(time.time() * 1000)  # Convert current time to milliseconds
        self.counter += 1
        request_id = int(f"{timestamp:013d}{self.counter:03d}")
        return request_id

# Example usage
id_generator = RequestIDGenerator()

# Generate request IDs
for _ in range(5):
    request_id = id_generator.generate_request_id()
    print("Request ID:", request_id)

Request ID: 1699547166981001
Request ID: 1699547166982002
Request ID: 1699547166982003
Request ID: 1699547166982004
Request ID: 1699547166982005

In [6]:
import uuid

# Generate a unique identifier (UID) or batch ID
batch_id = uuid.uuid4()

# Convert UUID to an integer (hashing)
numeric_id = int(batch_id.int)

# Use the generated numeric_id wherever it is required in your job

# Example: Print the numeric_id
print("Numeric ID:", numeric_id)

Numeric ID: 116906467688004487161951582906790172185

In [8]:
len('1699547166981001')

16

In [7]:
len('116906467688004487161951582906790172185')

39

In [9]:

    columns_str = ', '.join(column_names)
how to add few more columns form this dict additional_columns_dict = {
    'request_id': -999,
    'creation_date': 'SYSDATE',
    'created_by': -999,
    'last_update_date': 'SYSDATE',
    'last_updated_by': -999,
    'last_update_login': -999
}

SyntaxError: invalid syntax (<ipython-input-9-65f61d8d055c>, line 2)

In [21]:
column_names = ['col1', 'col2', 'col3']  # replace with your actual column names
additional_columns_dict = {
    'request_id': -999,
    'creation_date': 'SYSDATE',
    'created_by': -999,
    'last_update_date': 'SYSDATE',
    'last_updated_by': -999,
    'last_update_login': -999
}

the_value = 5

bill_date = {
    'last_bill_date' : the_value
}

# Add columns from additional_columns_dict
column_names.extend(additional_columns_dict.keys())
# column_names.extend(bill_date.keys())

# Create a comma-separated string of column names
columns_str = ', '.join(column_names)

print(columns_str)
a = bill_date.values()
value_from_dict = list(a)[0]
print(value_from_dict)

col1, col2, col3, request_id, creation_date, created_by, last_update_date, last_updated_by, last_update_login
5

In [4]:
# Create an empty DataFrame with the same columns as insert_cur_gtt
empty_df = pd.DataFrame(columns=insert_cur_gtt.columns)

# Now print the shape of the empty DataFrame
print(f"Number of rows in empty DataFrame: {empty_df.shape[0]}")

NameError: name 'insert_cur_gtt' is not defined

In [25]:
audit_columns_str =columns_str + ', last_bill_date'
audit_columns_str

'col1, col2, col3, request_id, creation_date, created_by, last_update_date, last_updated_by, last_update_login, last_bill_date'