In [4]:
# Broker_vendor.py
import pandas as pd
import xml.etree.ElementTree as ET
import psycopg2
from datetime import datetime
import re
import cx_Oracle

username = 'apps'
password = 'apps'
host = 'csebsd2db.cswg.com' #EBSD2
port = '1521'
service_name = 'csebsd2_int' #EBSD2

# Database connection parameters
db_params = {
    "host": "gc-ue4-psql-cspo-dev01.nonprod.gcp.cswg.com",
    "database": "CSPODB",
    "port": 5432,
    "user": "cspoms",
    "password": "cspoms",
    "sslmode": "verify-ca",
    "sslcert": "D:\\W\\RELEX\\RELEX\\CSPOMS_DEV_Conn\\client-cert.pem",
    "sslkey": "D:\\W\\RELEX\\RELEX\\CSPOMS_DEV_Conn\\client-key.pem",
    "sslrootcert": "D:\\W\\RELEX\\RELEX\\CSPOMS_DEV_Conn\\server-ca.pem"
}

post_conn = psycopg2.connect(**db_params)
post_cur = post_conn.cursor()

# Create a connection
dsn = cx_Oracle.makedsn(host, port, service_name=service_name)
oracle_con = cx_Oracle.connect(username, password, dsn)
oracle_cur = oracle_con.cursor()

In [5]:

post_cur.execute(f"SELECT * FROM XXPO_ORCL2CSPOMS_VEND_STG where PROCESS_STATUS ='N' LIMIT 1005")
# Fetch all rows into a list of tuples
result_rows = post_cur.fetchall()
# Get the column names from the cursor description
column_names = [desc[0] for desc in post_cur.description]
# Create a DataFrame using the result and column names
stg_df = pd.DataFrame(result_rows, columns=column_names)
# Print or use the DataFrame as needed
print('Loaded to staging table records "N" to stg_df')
# Extract the 'bic_vendor_number' column and convert it to a list
bic_vendor_numbers_list = stg_df['bic_vendor_number'].tolist()
# Convert the list of strings to a list of integers
bic_vendor_numbers_list = list(map(int, bic_vendor_numbers_list))
# # Print or use the list as needed
# print('bic_vendor_numbers_list--->', bic_vendor_numbers_list)
# # Convert the list of numbers to a string with quotes for the SQL query
# vendor_numbers_str = ', '.join([f"'{num}'" for num in bic_vendor_numbers_list])
# # Construct the SQL query
# sql_query = f"SELECT * FROM APPS.XXAP_VENDOR_MASTER WHERE VENDOR_NBR IN ({vendor_numbers_str})"
# oracle_df = pd.read_sql(sql_query, oracle_con)

Loaded to staging table records "N" to stg_df

In [9]:
len(bic_vendor_numbers_list)

1005

In [ ]:
# Construct the SQL query
sql_query = f"SELECT * FROM APPS.XXAP_VENDOR_MASTER WHERE VENDOR_NBR IN ({vendor_numbers_str})"
oracle_df = pd.read_sql(sql_query, oracle_con)
oracle_df

In [ ]:
vendor_numbers_str

In [ ]:
chunk_size = 1000
chunks = [bic_vendor_numbers_list[i:i + chunk_size] for i in range(0, len(bic_vendor_numbers_list), chunk_size)]
vendor_numbers_str = ', '.join([f"'{num}'" for num in chunks])

vendor_numbers_str

In [ ]:
result_df = pd.DataFrame()

for chunk in chunks:
    sql_query = f"SELECT * FROM APPS.XXAP_VENDOR_MASTER WHERE VENDOR_NBR IN ({vendor_numbers_str})"
    chunk_df = pd.read_sql(sql_query, oracle_con, params=[chunk])
    result_df = pd.concat([result_df, chunk_df], ignore_index=True)

In [7]:
chunk_size = 1000
chunks = [bic_vendor_numbers_list[i:i + chunk_size] for i in range(0, len(bic_vendor_numbers_list), chunk_size)]
chunks
# Create a list of strings for each chunk
chunk_strings = [', '.join([f"'{num}'" for num in chunk]) for chunk in chunks]
chunk_strings
# # Concatenate the chunk strings
vendor_numbers_str = ', '.join(chunk_strings)
vendor_numbers_str
# Now vendor_numbers_str will contain separate strings for each num within each chunk

"'8571', '8571', '8571', '8571', '8571', '8571', '8571', '8571', '8571', '8571', '8571', '8571', '8571', '8571', '8571', '2130', '2601', '278560', '31314', '34529', '34531', '34556', '34718', '34824', '34841', '403179', '60184', '60497', '61226', '61376', '101290', '25158', '25169', '25466', '25964', '26072', '693822', '693827', '445932', '693844', '693883', '693896', '693827', '693883', '61142', '8571', '445932', '445932', '445932', '693896', '25541', '25362', '693821', '445932', '445932', '447709', '447709', '447709', '447709', '693823', '693824', '693830', '693831', '37430', '417384', '447709', '8571', '447709', '8571', '693832', '693835', '693836', '693837', '693838', '693839', '693843', '693845', '693846', '693849', '693850', '693855', '693859', '693861', '693863', '693864', '693865', '693868', '693872', '693873', '693884', '61376', '693886', '693887', '693888', '693890', '693891', '693892', '693895', '693898', '693899', '693900', '693901', '693905', '693909', '693910', '693911', '693912', '77245', '693857', '25624', '399230', '693844', '694265', '694268', '693787', '693824', '693830', '693832', '693836', '693837', '693838', '693839', '693843', '693845', '8441', '693846', '693849', '693855', '693859', '693861', '693863', '693864', '693865', '693868', '693872', '693873', '693884', '693885', '693886', '693887', '693888', '362111', '693889', '693890', '693891', '693892', '693895', '693899', '693900', '693901', '8571', '693909', '693910', '693911', '693912', '694341', '694185', '694251', '694508', '379747', '141684', '187580', '2948', '300784', '350017', '405196', '41904', '78684', '801448', '93852', '190623', '278560', '12241', '443964', '370801', '403179', '201789', '555694', '736212', '803963', '16983', '191901', '33001', '344351', '24704', '24949', '24493', '24516', '24584', '24588', '24606', '24618', '24657', '24800', '24934', '24387', '24445', '24545', '24630', '24663', '24888', '25172', '24562', '24570', '24622', '24737', '25051', '25158', '269766', '37510', '104084', '104527', '104580', '105572', '104604', '104888', '105040', '105041', '105097', '105216', '105506', '91381', '105573', '105574', '105683', '105908', '106174', '107902', '124201', '144384', '149887', '155213', '155555', '175231', '175391', '61524', '177507', '177942', '184391', '191901', '191909', '194407', '197711', '198642', '200814', '201000', '201002', '201104', '201418', '201478', '201543', '61944', '201555', '201565', '201567', '201576', '201628', '201661', '201694', '61956', '201708', '201854', '201865', '201916', '201932', '201975', '310022', '201996', '24510', '202336', '204098', '204677', '206594', '210289', '213201', '214062', '214308', '218851', '218862', '219411', '220205', '227032', '24398', '24404', '24407', '24408', '24419', '24420', '24433', '24438', '244384', '24440', '24443', '24450', '24469', '24486', '24507', '24518', '24525', '24526', '24540', '24553', '24556', '24566', '24589', '24597', '24603', '24604', '24620', '24629', '24633', '24634', '24640', '24665', '24673', '24675', '24676', '24679', '24682', '24700', '24701', '24723', '24726', '24727', '24733', '24745', '24757', '24761', '24764', '24769', '24771', '24773', '24790', '24793', '24796', '24798', '24802', '24805', '24830', '24838', '24847', '24848', '24853', '24863', '24869', '25082', '24870', '24882', '24895', '24898', '24908', '249088', '24915', '24917', '24919', '24937', '24940', '24945', '24952', '24957', '24969', '24973', '24976', '24980', '24987', '24999', '25076', '25095', '25096', '25097', '25105', '25246', '25114', '25115', '25169', '25174', '252044', '252076', '252088', '25234', '25235', '25238', '25240', '25242', '25244', '25245', '62594', '25249', '25257', '25261', '25263', '25274', '25276', '25288', '25295', '25298', '253026', '253042', '25309', '25310', '25342', '25381', '25461', '254639', '25466', '25596', '25843', '25868', '25964', '26026', '26072', '261201', '263903', '26924', '269655', '62815', '273546', '273755', '275047', '275678', '275742', '278041', '278530', '63221', '288240', '333221', '289786', '291500', '293760', '293925', '293979', '296729', '296730', '299257', '300683', '300690', '302441', '302466', '303026', '303103', '304256', '305324', '305441', '305477', '305790', '309603', '310588', '310708', '311097', '311268', '311456', '311681', '312794', '313128', '313185', '313771', '313807', '313808', '315719', '315832', '315962', '316384', '317510', '317776', '318805', '319932', '320255', '320500', '320661', '321564', '321565', '322321', '322322', '324517', '324677', '324828', '324888', '324951', '325173', '325745', '325893', '327588', '61524', '329266', '330001', '33001', '330053', '330199', '331600', '331602', '331778', '332435', '332553', '332557', '332563', '332564', '333110', '99917', '333129', '333336', '333556', '333808', '333920', '334200', '334907', '334954', '335061', '335069', '335544', '335583', '335790', '336986', '337086', '337122', '337409', '337843', '338244', '338307', '338882', '339685', '339686', '339687', '339688', '339843', '339904', '340290', '341256', '341504', '341661', '342160', '342484', '342637', '370801', '342644', '342645', '342646', '342647', '342648', '342903', '343005', '694209', '343010', '347146', '343011', '344351', '344721', '345663', '345812', '345966', '346101', '347151', '348453', '348537', '348628', '350200', '347144', '350961', '693345', '35242', '35258', '352599', '355002', '355496', '355663', '65461', '356112', '357010', '360164', '362085', '362722', '363120', '363484', '65573', '363485', '367433', '368673', '369364', '369435', '369704', '370161', '371284', '371784', '371930', '372804', '37430', '374884', '375344', '406804', '377012', '377040', '377716', '378881', '380144', '380481', '380664', '381002', '382024', '38252', '38253', '383650', '384041', '384600', '388584', '388585', '389542', '389745', '390311', '391919', '393807', '393916', '393918', '393919', '394298', '399430', '399684', '402624', '405477', '407924', '408224', '409924', '410584', '413364', '413365', '413584', '419068', '44048', '449', '467599', '521298', '525244', '623201', '658201', '66179', '665689', '693346', '693347', '693348', '693349', '693350', '347152', '693351', '693922', '693672', '693822', '693827', '693844', '693883', '693896', '693913', '693914', '693915', '693916', '693917', '693918', '693919', '693920', '693921', '693923', '693924', '693925', '693926', '693927', '693896', '693928', '274610', '693929', '693930', '693931', '693932', '693933', '693934', '693935', '693936', '693937', '693939', '693940', '693941', '693942', '693943', '66658', '693944', '693945', '693946', '693947', '693948', '693949', '693950', '693951', '693952', '693953', '693954', '693955', '693956', '693957', '66698', '693958', '693959', '693960', '693961', '693962', '693963', '693964', '66779', '693965', '693966', '693967', '693968', '693969', '693970', '693971', '693972', '693973', '693975', '693976', '693977', '693978', '693979', '693980', '693981', '693982', '693983', '693984', '693985', '693986', '693987', '66888', '693995', '693988', '693989', '693990', '693991', '693992', '693993', '693994', '694228', '693996', '693997', '693998', '693999', '694000', '694001', '694241', '694002', '694005', '694006', '694007', '694008', '694009', '694010', '67001', '694011', '694012', '694013', '694094', '694096', '694097', '694098', '67006', '694099', '694100', '694101', '694102', '694103', '694104', '694105', '67008', '694106', '694107', '694108', '694109', '694110', '694111', '694112', '694125', '694210', '694113', '694114', '694118', '694119', '694122', '694123', '694124', '357121', '694127', '694128', '694129', '694130', '694133', '694134', '694137', '694208', '694138', '694139', '694140', '694141', '694142', '694143', '694144', '694145', '694146', '694148', '694149', '694150', '694151', '694152', '694153', '694154', '694155', '694156', '694157', '694158', '694177', '694206', '694212', '694214', '694215', '694219', '694223', '694226', '694227', '694229', '694230', '694231', '694233', '694235', '694236', '694237', '694240', '694242', '694243', '694247', '694250', '694252', '694255', '694256', '694261', '694262', '694263', '694264', '694265', '694268', '694269', '694270', '694271', '694272', '694274', '694275', '694276', '694278', '694279', '694280', '67009', '694281', '694282', '694283', '694286', '694287', '694288', '694289', '694291', '106376', '694292', '694293', '694295', '694296', '694297', '694298', '694299', '694300', '694301', '694302', '694303', '694304', '694305', '694307', '694308', '694309', '694310', '694311', '694312', '694314', '694315', '694316', '694317', '694318', '694319', '694320', '694321', '694322', '694323', '694324', '694402', '694325', '694326', '694327', '694328', '694329', '694330', '694331', '694332', '694333', '694334', '694335', '694336', '694337', '694338', '694339', '67109', '25490', '694340', '694342', '694343', '694356', '694359', '694361', '694366', '969655', '694406', '694407', '694408', '694409', '694410', '694411', '694412', '694413', '694416', '694418', '694419', '694425', '694551', '694563', '694569', '67163', '694995', '695156', '702811', '770400', '793985', '799936', '885888', '984923', '694269', '693827', '693883', '693896', '191909', '410584', '25363', '25541', '25629', '25748', '25362', '25542', '694269', '100208', '105878', '11062', '125182', '13552', '150542', '178216', '19754', '67186', '248028', '24885', '2501', '25452', '25694', '258643', '258783', '25903', '26053', '26701', '309324', '309326', '309328', '309330', '309332', '33039', '369370', '370607', '370693', '371785', '59228', '5974', '607821', '67190', '658721', '669655', '679655', '693683', '693684', '693685', '693687', '693688', '693693', '693700', '693705', '693714', '693739', '693745', '693761', '693762', '693765', '693768'"

In [8]:
result_df = pd.DataFrame()

for chunk in chunks:
    # Create a string for each chunk
    chunk_str = ', '.join([f"'{num}'" for num in chunk])
    
    # Construct the SQL query using the chunk string
    sql_query = f"SELECT * FROM APPS.XXAP_VENDOR_MASTER WHERE VENDOR_NBR IN ({chunk_str})"
    
    # Read data for the current chunk and concatenate to result_df
    chunk_df = pd.read_sql(sql_query, oracle_con)
    result_df = pd.concat([result_df, chunk_df], ignore_index=True)

# Now result_df contains the concatenated data from all chunks
result_df

,VENDOR_SITE_ID,VENDOR_NBR,VENDOR_NAME,VENDOR_START_DATE,VENDOR_END_DATE,VENDOR_STATUS,VENDOR_TYPE,AP_VENDOR_ID,AP_VENDOR_NAME,AP_VENDOR_ALT_NAME,...,EOQ_CAP_DAYS,WHSE_SHIP_TO,SHIP_WITH_VENDOR,RANK_PERCENT_OVERRIDE,PO_DATE_CHANGE_RSN_FLAG,PULLBKS_AVAILABLE,HAWAII_TRANS_METHOD,TEST_NEW,VENDOR_BUYER_NBR,SHELVING_DELAY
0,1026264,100208,REVOLYMER US INC,2016-07-09 08:42:40,2017-06-06 00:00:00,I,Buyer Vendor,8839,REVOLYMER,REVOLYMER,...,None,None,None,None,None,None,None,None,129,None
1,1877017,100208,TROPICAL FRUIT & NUT CO,2018-01-20 10:43:32,2021-01-19 00:00:00,I,Buyer Vendor,5803,TROPICAL NUT AND FRUIT CO,TROPICAL NUT AND FRUIT NC,...,None,None,None,None,None,None,None,None,078,None
2,1026699,101290,NUK USA,2016-07-09 08:48:51,2018-01-27 10:23:37,I,Buyer Vendor,7156,NUK USA LLC,NUK USA LLC,...,0,0,000000,0,None,None,None,None,791,None
3,3274177,101290,None,2022-06-30 16:34:07,NaT,A,Buyer Vendor,1917056,NEWELL BRANDS DISTRIBUTION LLC,None,...,None,None,None,None,None,None,None,None,None,None
4,1887025,101290,NUK USA,2018-01-27 10:23:37,2022-06-30 16:34:07,I,Buyer Vendor,1295006,GRACO CHILDRENS PRODUCTS,None,...,0,0,000000,0,None,None,None,None,669,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1188,375051,693745,VENTURA FOODS. LLC,2015-04-25 05:57:31,None,A,Buyer Vendor,277,VENTURA FOODS,VENTURA FOODS,...,None,None,None,None,None,None,None,None,854,None
1189,375069,693761,FRESH GOURMET CO,2015-04-25 05:57:45,None,A,Buyer Vendor,1211,SUGAR FOODS CORP,SUGAR FOODS CORP,...,None,None,None,None,None,None,None,None,836,None
1190,375086,693762,UNISTAR PLASTICS. LLC,2015-04-25 05:57:59,None,A,Buyer Vendor,1264,UNISTAR PLASTICS LLC,UNISTAR PLASTICS LLC,...,None,None,None,None,None,None,None,None,836,None
1191,375070,693765,SALES. USA. INC,2015-04-25 05:57:46,None,A,Buyer Vendor,1564,SALES USA INC,SALES USA INC,...,None,None,None,None,None,None,None,None,836,None
1192,375056,693768,HAMPTON FARMS,2015-04-25 05:57:35,None,A,Buyer Vendor,2266,HAMPTON FARMS,HAMPTON FARMS,...,None,None,None,None,None,None,None,None,836,None

In [ ]:
chunk_size = 1000
chunks = [bic_vendor_numbers_list[i:i + chunk_size] for i in range(0, len(bic_vendor_numbers_list), chunk_size)]
# chunks
# Create a list of strings for each chunk
chunk_strings = [', '.join([f"'{num}'" for num in chunk]) for chunk in chunks]
# chunk_strings
# # Concatenate the chunk strings
vendor_numbers_str = ', '.join(chunk_strings)
# vendor_numbers_str
# Now vendor_numbers_str will contain separate strings for each num within each chunk
result_df = pd.DataFrame()

for chunk in chunks:
    # Create a string for each chunk
    chunk_str = ', '.join([f"'{num}'" for num in chunk])
    
    # Construct the SQL query using the chunk string
    sql_query = f"SELECT * FROM APPS.XXAP_VENDOR_MASTER WHERE VENDOR_NBR IN ({chunk_str})"
    
    # Read data for the current chunk and concatenate to result_df
    chunk_df = pd.read_sql(sql_query, oracle_con)
    result_df = pd.concat([result_df, chunk_df], ignore_index=True)