In [1]:
sql_file = open('execute.sql', 'w')

In [2]:
# Log the INSERT statement to the file
sql_file.write(insert_vm + ';\n')  # Add a semicolon at the end
sql_file.write(f"/* Values: {str(vm_values)} */\n")

NameError: name 'insert_vm' is not defined

In [4]:
pip install pandas pyarrow

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.2.4)
Collecting pyarrow
  Obtaining dependency information for pyarrow from https://files.pythonhosted.org/packages/17/65/47c519fd198713631ca004e38ae48e244a4f4708ba32691caa54b36508a4/pyarrow-13.0.0-cp38-cp38-win_amd64.whl.metadata
  Downloading pyarrow-13.0.0-cp38-cp38-win_amd64.whl.metadata (3.1 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Downloading pyarrow-13.0.0-cp38-cp38-win_amd64.whl (24.4 MB)
   ---------------------------------------- 24.4/24.4 MB 2.5 MB/s eta 0:00:00
Installing collected packages: pyarrow
Successfully installed pyarrow-13.0.0
Note: you may need to restart the kernel to use updated packages.

DEPRECATION: pyodbc 4.0.0-unsupported has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pyodbc or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

[notice] A new release of pip is available: 23.2.1 -> 23.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}
df = pd.DataFrame(data)

# Write the DataFrame to a Parquet file
df.to_parquet('example.parquet', index=False)

# Read data from the Parquet file
df_read = pd.read_parquet('example.parquet')

# Display the data
print("Original DataFrame:")
print(df)

print("\nDataFrame Read from Parquet:")
print(df_read)

Original DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles

DataFrame Read from Parquet:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles

In [7]:
import pandas as pd
df = pd.read_parquet('example.parquet')
df

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles

In [14]:
import cx_Oracle
# Source database connection
source_conn = cx_Oracle.connect(
    user="apps",
    password="apps",
    dsn="omsddb.cswg.com:1521/omsd_app"
)
source_cursor = source_conn.cursor()

# Create a cursor

# Execute a SQL query to retrieve column information
query = f"""
select *   FROM OMS_CMN_DATA.XXCMN_VALUE_MAP_DEF_TEST WHERE MAP_CODE = 'OTC_ORDER_ENTRY_UI'
"""
source_cursor.execute(query)
vm_df = source_cursor.fetchall()
vm_df = pd.DataFrame(vm_df)

# Write the DataFrame to a Parquet file
vm_df.to_parquet('VM.parquet', index=False)

# Read data from the Parquet file
df_read = pd.read_parquet('VM.parquet')

# Display the data
print("Original DataFrame:")
print(vm_df)

print("\nDataFrame Read from Parquet:")
print(df_read)

Original DataFrame:
Empty DataFrame
Columns: []
Index: []

DataFrame Read from Parquet:
Empty DataFrame
Columns: []
Index: []