In [2]:


# Condition 1: VENDOR_FOODLINK_FLG is 1 or 2
condition1 = (merged_df['VENDOR_FOODLINK_FLG'] == 1) | (merged_df['VENDOR_FOODLINK_FLG'] == 2)

# Condition 2: VENDOR_FREIGHT_FLG is 'Y'
condition2 = merged_df['VENDOR_FREIGHT_FLG'] == 'Y'

# Condition 3: VENDOR_HOME_LOC_DEST is 21
condition3 = merged_df['VENDOR_HOME_LOC_DEST'] == 21

# Combine the conditions using OR (|) as per your logic
final_condition = condition1 | condition2 | condition3

# Apply the final condition to filter the rows
filtered_rows = merged_df[final_condition].copy()

# Display the filtered rows
print(filtered_rows)

# Now you can create input_df from filtered_rows and pass it to your function
input_df = filtered_rows.copy()
merged_df

   VENDOR_FOODLINK_FLG VENDOR_FREIGHT_FLG  VENDOR_HOME_LOC_DEST VENDOR_TYPE
0                    1                  N                    20           A
1                    2                  Y                    21           B
3                    1                  N                    21           D
4                    0                  Y                    23           E

   VENDOR_FOODLINK_FLG VENDOR_FREIGHT_FLG  VENDOR_HOME_LOC_DEST VENDOR_TYPE
0                    1                  N                    20           A
1                    2                  Y                    21           B
2                    3                  N                    22           C
3                    1                  N                    21           D
4                    0                  Y                    23           E

In [20]:
import pandas as pd

# Example DataFrame
data = {
    'FOOD_LINK_FLAG': ['1', 2, 1],
    'VENDOR_FREIGHT_FLG': ['Y'
                           , 'N', 'Y'],
    'VENDOR_FACILITY': [21, 22, 23]
}

merged_df = pd.DataFrame(data)

# Condition 1: FOOD_LINK_FLAG is '1' or '2'
condition1 = merged_df['FOOD_LINK_FLAG'].isin(['1', '2'])

# Condition 2: VENDOR_FREIGHT_FLG is 'Y'
condition2 = merged_df['VENDOR_FREIGHT_FLG'] == 'Y'

# Condition 3: VENDOR_HOME_LOC_DEST is '21'
condition3 = merged_df['VENDOR_FACILITY'].astype(str) == '21'

# Apply conditions to filter the DataFrame
filtered_df = merged_df[condition1 | condition2 | condition3]

# Display the filtered DataFrame
print(filtered_df)

  FOOD_LINK_FLAG VENDOR_FREIGHT_FLG  VENDOR_FACILITY
0              1                  Y               21
2              1                  Y               23