In [69]:
import cx_Oracle
import pandas as pd

# Source database connection
source_conn = cx_Oracle.connect(
    user="apps",
    password="apps",
    dsn="omsddb.cswg.com:1521/omsd_app"
)

# Target database connection
target_conn = cx_Oracle.connect(
    user="apps",
    password="apps",
    dsn="omsddb.cswg.com:1521/omsd_app"
)
start_time = time.time()
print(f"Start of Task: {self.task_id} at {start_time}")

p_map_code = "OTC_ORDER_ENTRY_UI"

# Create cursors for both connections
source_cursor = source_conn.cursor()
# target_cursor = target_conn.cursor()
target_cursor = source_conn.cursor()

# Select data from the source table
sql_query = f"""SELECT * FROM APPS.XXCMN_VALUE_MAP_DEF WHERE MAP_CODE = '{p_map_code}'"""
# Execute your SQL query to retrieve the data
source_cursor.execute(sql_query)

# Fetch the data and the column names
def_df = source_cursor.fetchall()

# Retrieve the column names from the cursor description
def_column_names = [desc[0] for desc in source_cursor.description]

# Create a DataFrame and set the column names
def_df = pd.DataFrame(def_df, columns=def_column_names)
print(def_df)
# Now you can reference columns by their names
# Assuming you have a DataFrame def_df and you want to get the first value from the 'MAP_DEFINITION_ID' column
pn_map_def_id = def_df['MAP_DEFINITION_ID'].iloc[0]
print(pn_map_def_id)

vm_query = f"""SELECT *
                 FROM APPS.XXCMN_VALUE_MAP 
                 WHERE MAP_DEFINITION_ID = {pn_map_def_id}
                 ORDER BY map_id"""
print(vm_query)
source_cursor.execute(vm_query)

# Fetch the data and the column names
vm_df = source_cursor.fetchall()

# Retrieve the column names from the cursor description
vm_column_names = [desc[0] for desc in source_cursor.description]

# Create a DataFrame and set the column names
vm_df = pd.DataFrame(vm_df, columns=vm_column_names)
print(vm_df)
# Specify the target table name
target_table = "OMS_CMN_DATA.XXCMN_VALUE_MAP_DEF_TEST"

# Construct the INSERT INTO statement

def_column_names.remove('MAP_DEFINITION_ID')
def_df I just dont wan to remove the column name I want to remove the first column in the def_df and insert the rest of the values in the next step using the target cursor and insert



insert_def = f"INSERT INTO {target_table} ({', '.join(def_column_names)}) VALUES ({pn_map_def_id}, {', '.join([':' + col for col in def_column_names])})"
insert_def

   MAP_DEFINITION_ID            MAP_CODE                           MAP_DESC  \
0                301  OTC_ORDER_ENTRY_UI  OTC Order Entry UI List of Values

  ACTIVE_DATE_FLAG N_VALUE1_SEQUENCE N_VALUE1_PROMPT_TEXT  \
0                Y              None                 None

  N_VALUE1_REQUIRED_FLAG N_VALUE1_COLUMN_WIDTH C_VALUE1_SEQUENCE  \
0                   None                  None              None

  C_VALUE1_PROMPT_TEXT  ... C_VALUE19_UI_SHOW C_VALUE19_UI_UPDATE  \
0             Division  ...              None                None

  D_VALUE19_UI_SHOW D_VALUE19_UI_UPDATE N_VALUE20_UI_SHOW N_VALUE20_UI_UPDATE  \
0              None                None              None                None

  C_VALUE20_UI_SHOW C_VALUE20_UI_UPDATE D_VALUE20_UI_SHOW D_VALUE20_UI_UPDATE
0              None                None              None                None

[1 rows x 375 columns]
301
SELECT *
                 FROM APPS.XXCMN_VALUE_MAP
                 WHERE MAP_DEFINITION_ID = 301
                 ORDER BY map_id
   MAP_ID  MAP_DEFINITION_ID N_VALUE1 C_VALUE1 D_VALUE1 N_VALUE2   C_VALUE2  \
0    7464                301     None      AWI     None     None  Immediate
1    7466                301     None      AWI     None     None       None
2   26269                301     None       GS     None     None  Immediate
3   26270                301     None       GS     None     None       None

  D_VALUE2 N_VALUE3         C_VALUE3  ... N_VALUE20 C_VALUE20 D_VALUE20  \
0     None     None  Customer Pickup  ...      None      None      None
1     None     None            Truck  ...      None      None      None
2     None     None  Customer Pickup  ...      None      None      None
3     None     None            Truck  ...      None      None      None

  ACTIVE_BEGIN_DATE ACTIVE_END_DATE CREATED_BY       CREATION_DATE  \
0              None            None     1088.0 2021-08-03 09:46:28
1              None            None     1088.0 2021-08-03 09:48:20
2              None            None     1088.0 2023-08-23 09:24:52
3              None            None     1088.0 2023-08-23 09:24:52

  LAST_UPDATED_BY    LAST_UPDATE_DATE LAST_UPDATE_LOGIN
0          1088.0 2022-06-03 10:30:58              None
1          1088.0 2021-08-03 09:48:20              None
2          1088.0 2023-08-23 09:24:52              None
3          1088.0 2023-08-23 09:24:52              None

[4 rows x 69 columns]

'INSERT INTO OMS_CMN_DATA.XXCMN_VALUE_MAP_DEF_TEST (MAP_CODE, MAP_DESC, ACTIVE_DATE_FLAG, N_VALUE1_SEQUENCE, N_VALUE1_PROMPT_TEXT, N_VALUE1_REQUIRED_FLAG, N_VALUE1_COLUMN_WIDTH, C_VALUE1_SEQUENCE, C_VALUE1_PROMPT_TEXT, C_VALUE1_REQUIRED_FLAG, C_VALUE1_COLUMN_WIDTH, D_VALUE1_SEQUENCE, D_VALUE1_PROMPT_TEXT, D_VALUE1_REQUIRED_FLAG, D_VALUE1_COLUMN_WIDTH, N_VALUE2_SEQUENCE, N_VALUE2_PROMPT_TEXT, N_VALUE2_REQUIRED_FLAG, N_VALUE2_COLUMN_WIDTH, C_VALUE2_SEQUENCE, C_VALUE2_PROMPT_TEXT, C_VALUE2_REQUIRED_FLAG, C_VALUE2_COLUMN_WIDTH, D_VALUE2_SEQUENCE, D_VALUE2_PROMPT_TEXT, D_VALUE2_REQUIRED_FLAG, D_VALUE2_COLUMN_WIDTH, N_VALUE3_SEQUENCE, N_VALUE3_PROMPT_TEXT, N_VALUE3_REQUIRED_FLAG, N_VALUE3_COLUMN_WIDTH, C_VALUE3_SEQUENCE, C_VALUE3_PROMPT_TEXT, C_VALUE3_REQUIRED_FLAG, C_VALUE3_COLUMN_WIDTH, D_VALUE3_SEQUENCE, D_VALUE3_PROMPT_TEXT, D_VALUE3_REQUIRED_FLAG, D_VALUE3_COLUMN_WIDTH, N_VALUE4_SEQUENCE, N_VALUE4_PROMPT_TEXT, N_VALUE4_REQUIRED_FLAG, N_VALUE4_COLUMN_WIDTH, C_VALUE4_SEQUENCE, C_VALUE4_PROMPT_TEXT, C_VALUE4_REQUIRED_FLAG, C_VALUE4_COLUMN_WIDTH, D_VALUE4_SEQUENCE, D_VALUE4_PROMPT_TEXT, D_VALUE4_REQUIRED_FLAG, D_VALUE4_COLUMN_WIDTH, N_VALUE5_SEQUENCE, N_VALUE5_PROMPT_TEXT, N_VALUE5_REQUIRED_FLAG, N_VALUE5_COLUMN_WIDTH, C_VALUE5_SEQUENCE, C_VALUE5_PROMPT_TEXT, C_VALUE5_REQUIRED_FLAG, C_VALUE5_COLUMN_WIDTH, D_VALUE5_SEQUENCE, D_VALUE5_PROMPT_TEXT, D_VALUE5_REQUIRED_FLAG, D_VALUE5_COLUMN_WIDTH, N_VALUE6_SEQUENCE, N_VALUE6_PROMPT_TEXT, N_VALUE6_REQUIRED_FLAG, N_VALUE6_COLUMN_WIDTH, C_VALUE6_SEQUENCE, C_VALUE6_PROMPT_TEXT, C_VALUE6_REQUIRED_FLAG, C_VALUE6_COLUMN_WIDTH, D_VALUE6_SEQUENCE, D_VALUE6_PROMPT_TEXT, D_VALUE6_REQUIRED_FLAG, D_VALUE6_COLUMN_WIDTH, N_VALUE7_SEQUENCE, N_VALUE7_PROMPT_TEXT, N_VALUE7_REQUIRED_FLAG, N_VALUE7_COLUMN_WIDTH, C_VALUE7_SEQUENCE, C_VALUE7_PROMPT_TEXT, C_VALUE7_REQUIRED_FLAG, C_VALUE7_COLUMN_WIDTH, D_VALUE7_SEQUENCE, D_VALUE7_PROMPT_TEXT, D_VALUE7_REQUIRED_FLAG, D_VALUE7_COLUMN_WIDTH, N_VALUE8_SEQUENCE, N_VALUE8_PROMPT_TEXT, N_VALUE8_REQUIRED_FLAG, N_VALUE8_COLUMN_WIDTH, C_VALUE8_SEQUENCE, C_VALUE8_PROMPT_TEXT, C_VALUE8_REQUIRED_FLAG, C_VALUE8_COLUMN_WIDTH, D_VALUE8_SEQUENCE, D_VALUE8_PROMPT_TEXT, D_VALUE8_REQUIRED_FLAG, D_VALUE8_COLUMN_WIDTH, N_VALUE9_SEQUENCE, N_VALUE9_PROMPT_TEXT, N_VALUE9_REQUIRED_FLAG, N_VALUE9_COLUMN_WIDTH, C_VALUE9_SEQUENCE, C_VALUE9_PROMPT_TEXT, C_VALUE9_REQUIRED_FLAG, C_VALUE9_COLUMN_WIDTH, D_VALUE9_SEQUENCE, D_VALUE9_PROMPT_TEXT, D_VALUE9_REQUIRED_FLAG, D_VALUE9_COLUMN_WIDTH, N_VALUE10_SEQUENCE, N_VALUE10_PROMPT_TEXT, N_VALUE10_REQUIRED_FLAG, N_VALUE10_COLUMN_WIDTH, C_VALUE10_SEQUENCE, C_VALUE10_PROMPT_TEXT, C_VALUE10_REQUIRED_FLAG, C_VALUE10_COLUMN_WIDTH, D_VALUE10_SEQUENCE, D_VALUE10_PROMPT_TEXT, D_VALUE10_REQUIRED_FLAG, D_VALUE10_COLUMN_WIDTH, N_VALUE11_SEQUENCE, N_VALUE11_PROMPT_TEXT, N_VALUE11_REQUIRED_FLAG, N_VALUE11_COLUMN_WIDTH, C_VALUE11_SEQUENCE, C_VALUE11_PROMPT_TEXT, C_VALUE11_REQUIRED_FLAG, C_VALUE11_COLUMN_WIDTH, D_VALUE11_SEQUENCE, D_VALUE11_PROMPT_TEXT, D_VALUE11_REQUIRED_FLAG, D_VALUE11_COLUMN_WIDTH, N_VALUE12_SEQUENCE, N_VALUE12_PROMPT_TEXT, N_VALUE12_REQUIRED_FLAG, N_VALUE12_COLUMN_WIDTH, C_VALUE12_SEQUENCE, C_VALUE12_PROMPT_TEXT, C_VALUE12_REQUIRED_FLAG, C_VALUE12_COLUMN_WIDTH, D_VALUE12_SEQUENCE, D_VALUE12_PROMPT_TEXT, D_VALUE12_REQUIRED_FLAG, D_VALUE12_COLUMN_WIDTH, N_VALUE13_SEQUENCE, N_VALUE13_PROMPT_TEXT, N_VALUE13_REQUIRED_FLAG, N_VALUE13_COLUMN_WIDTH, C_VALUE13_SEQUENCE, C_VALUE13_PROMPT_TEXT, C_VALUE13_REQUIRED_FLAG, C_VALUE13_COLUMN_WIDTH, D_VALUE13_SEQUENCE, D_VALUE13_PROMPT_TEXT, D_VALUE13_REQUIRED_FLAG, D_VALUE13_COLUMN_WIDTH, N_VALUE14_SEQUENCE, N_VALUE14_PROMPT_TEXT, N_VALUE14_REQUIRED_FLAG, N_VALUE14_COLUMN_WIDTH, C_VALUE14_SEQUENCE, C_VALUE14_PROMPT_TEXT, C_VALUE14_REQUIRED_FLAG, C_VALUE14_COLUMN_WIDTH, D_VALUE14_SEQUENCE, D_VALUE14_PROMPT_TEXT, D_VALUE14_REQUIRED_FLAG, D_VALUE14_COLUMN_WIDTH, N_VALUE15_SEQUENCE, N_VALUE15_PROMPT_TEXT, N_VALUE15_REQUIRED_FLAG, N_VALUE15_COLUMN_WIDTH, C_VALUE15_SEQUENCE, C_VALUE15_PROMPT_TEXT, C_VALUE15_REQUIRED_FLAG, C_VALUE15_COLUMN_WIDTH, D_VALUE15_SEQUENCE, D_VALUE15_PROMPT_TEXT, D_VALUE15_REQUIRED_FLAG, D_VALUE15_COLUMN_WIDTH, N_VALUE16_SEQUENCE, N_VALUE16_PROMPT_TEXT, N_VALUE16_REQUIRED_FLAG, N_VALUE16_COLUMN_WIDTH, C_VALUE16_SEQUENCE, C_VALUE16_PROMPT_TEXT, C_VALUE16_REQUIRED_FLAG, C_VALUE16_COLUMN_WIDTH, D_VALUE16_SEQUENCE, D_VALUE16_PROMPT_TEXT, D_VALUE16_REQUIRED_FLAG, D_VALUE16_COLUMN_WIDTH, N_VALUE17_SEQUENCE, N_VALUE17_PROMPT_TEXT, N_VALUE17_REQUIRED_FLAG, N_VALUE17_COLUMN_WIDTH, C_VALUE17_SEQUENCE, C_VALUE17_PROMPT_TEXT, C_VALUE17_REQUIRED_FLAG, C_VALUE17_COLUMN_WIDTH, D_VALUE17_SEQUENCE, D_VALUE17_PROMPT_TEXT, D_VALUE17_REQUIRED_FLAG, D_VALUE17_COLUMN_WIDTH, N_VALUE18_SEQUENCE, N_VALUE18_PROMPT_TEXT, N_VALUE18_REQUIRED_FLAG, N_VALUE18_COLUMN_WIDTH, C_VALUE18_SEQUENCE, C_VALUE18_PROMPT_TEXT, C_VALUE18_REQUIRED_FLAG, C_VALUE18_COLUMN_WIDTH, D_VALUE18_SEQUENCE, D_VALUE18_PROMPT_TEXT, D_VALUE18_REQUIRED_FLAG, D_VALUE18_COLUMN_WIDTH, N_VALUE19_SEQUENCE, N_VALUE19_PROMPT_TEXT, N_VALUE19_REQUIRED_FLAG, N_VALUE19_COLUMN_WIDTH, C_VALUE19_SEQUENCE, C_VALUE19_PROMPT_TEXT, C_VALUE19_REQUIRED_FLAG, C_VALUE19_COLUMN_WIDTH, D_VALUE19_SEQUENCE, D_VALUE19_PROMPT_TEXT, D_VALUE19_REQUIRED_FLAG, D_VALUE19_COLUMN_WIDTH, N_VALUE20_SEQUENCE, N_VALUE20_PROMPT_TEXT, N_VALUE20_REQUIRED_FLAG, N_VALUE20_COLUMN_WIDTH, C_VALUE20_SEQUENCE, C_VALUE20_PROMPT_TEXT, C_VALUE20_REQUIRED_FLAG, C_VALUE20_COLUMN_WIDTH, D_VALUE20_SEQUENCE, D_VALUE20_PROMPT_TEXT, D_VALUE20_REQUIRED_FLAG, D_VALUE20_COLUMN_WIDTH, ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ACTIVE_BEGIN_DATE, ACTIVE_END_DATE, CREATED_BY, CREATION_DATE, LAST_UPDATED_BY, LAST_UPDATE_DATE, N_VALUE1_UI_SHOW, N_VALUE1_UI_UPDATE, C_VALUE1_UI_SHOW, C_VALUE1_UI_UPDATE, D_VALUE1_UI_SHOW, D_VALUE1_UI_UPDATE, N_VALUE2_UI_SHOW, N_VALUE2_UI_UPDATE, C_VALUE2_UI_SHOW, C_VALUE2_UI_UPDATE, D_VALUE2_UI_SHOW, D_VALUE2_UI_UPDATE, N_VALUE3_UI_SHOW, N_VALUE3_UI_UPDATE, C_VALUE3_UI_SHOW, C_VALUE3_UI_UPDATE, D_VALUE3_UI_SHOW, D_VALUE3_UI_UPDATE, N_VALUE4_UI_SHOW, N_VALUE4_UI_UPDATE, C_VALUE4_UI_SHOW, C_VALUE4_UI_UPDATE, D_VALUE4_UI_SHOW, D_VALUE4_UI_UPDATE, N_VALUE5_UI_SHOW, N_VALUE5_UI_UPDATE, C_VALUE5_UI_SHOW, C_VALUE5_UI_UPDATE, D_VALUE5_UI_SHOW, D_VALUE5_UI_UPDATE, N_VALUE6_UI_SHOW, N_VALUE6_UI_UPDATE, C_VALUE6_UI_SHOW, C_VALUE6_UI_UPDATE, D_VALUE6_UI_SHOW, D_VALUE6_UI_UPDATE, N_VALUE7_UI_SHOW, N_VALUE7_UI_UPDATE, C_VALUE7_UI_SHOW, C_VALUE7_UI_UPDATE, D_VALUE7_UI_SHOW, D_VALUE7_UI_UPDATE, N_VALUE8_UI_SHOW, N_VALUE8_UI_UPDATE, C_VALUE8_UI_SHOW, C_VALUE8_UI_UPDATE, D_VALUE8_UI_SHOW, D_VALUE8_UI_UPDATE, N_VALUE9_UI_SHOW, N_VALUE9_UI_UPDATE, C_VALUE9_UI_SHOW, C_VALUE9_UI_UPDATE, D_VALUE9_UI_SHOW, D_VALUE9_UI_UPDATE, N_VALUE10_UI_SHOW, N_VALUE10_UI_UPDATE, C_VALUE10_UI_SHOW, C_VALUE10_UI_UPDATE, D_VALUE10_UI_SHOW, D_VALUE10_UI_UPDATE, N_VALUE11_UI_SHOW, N_VALUE11_UI_UPDATE, C_VALUE11_UI_SHOW, C_VALUE11_UI_UPDATE, D_VALUE11_UI_SHOW, D_VALUE11_UI_UPDATE, N_VALUE12_UI_SHOW, N_VALUE12_UI_UPDATE, C_VALUE12_UI_SHOW, C_VALUE12_UI_UPDATE, D_VALUE12_UI_SHOW, D_VALUE12_UI_UPDATE, N_VALUE13_UI_SHOW, N_VALUE13_UI_UPDATE, C_VALUE13_UI_SHOW, C_VALUE13_UI_UPDATE, D_VALUE13_UI_SHOW, D_VALUE13_UI_UPDATE, N_VALUE14_UI_SHOW, N_VALUE14_UI_UPDATE, C_VALUE14_UI_SHOW, C_VALUE14_UI_UPDATE, D_VALUE14_UI_SHOW, D_VALUE14_UI_UPDATE, N_VALUE15_UI_SHOW, N_VALUE15_UI_UPDATE, C_VALUE15_UI_SHOW, C_VALUE15_UI_UPDATE, D_VALUE15_UI_SHOW, D_VALUE15_UI_UPDATE, N_VALUE16_UI_SHOW, N_VALUE16_UI_UPDATE, C_VALUE16_UI_SHOW, C_VALUE16_UI_UPDATE, D_VALUE16_UI_SHOW, D_VALUE16_UI_UPDATE, N_VALUE17_UI_SHOW, N_VALUE17_UI_UPDATE, C_VALUE17_UI_SHOW, C_VALUE17_UI_UPDATE, D_VALUE17_UI_SHOW, D_VALUE17_UI_UPDATE, N_VALUE18_UI_SHOW, N_VALUE18_UI_UPDATE, C_VALUE18_UI_SHOW, C_VALUE18_UI_UPDATE, D_VALUE18_UI_SHOW, D_VALUE18_UI_UPDATE, N_VALUE19_UI_SHOW, N_VALUE19_UI_UPDATE, C_VALUE19_UI_SHOW, C_VALUE19_UI_UPDATE, D_VALUE19_UI_SHOW, D_VALUE19_UI_UPDATE, N_VALUE20_UI_SHOW, N_VALUE20_UI_UPDATE, C_VALUE20_UI_SHOW, C_VALUE20_UI_UPDATE, D_VALUE20_UI_SHOW, D_VALUE20_UI_UPDATE) VALUES (:pn_map_def_id, :MAP_CODE, :MAP_DESC, :ACTIVE_DATE_FLAG, :N_VALUE1_SEQUENCE, :N_VALUE1_PROMPT_TEXT, :N_VALUE1_REQUIRED_FLAG, :N_VALUE1_COLUMN_WIDTH, :C_VALUE1_SEQUENCE, :C_VALUE1_PROMPT_TEXT, :C_VALUE1_REQUIRED_FLAG, :C_VALUE1_COLUMN_WIDTH, :D_VALUE1_SEQUENCE, :D_VALUE1_PROMPT_TEXT, :D_VALUE1_REQUIRED_FLAG, :D_VALUE1_COLUMN_WIDTH, :N_VALUE2_SEQUENCE, :N_VALUE2_PROMPT_TEXT, :N_VALUE2_REQUIRED_FLAG, :N_VALUE2_COLUMN_WIDTH, :C_VALUE2_SEQUENCE, :C_VALUE2_PROMPT_TEXT, :C_VALUE2_REQUIRED_FLAG, :C_VALUE2_COLUMN_WIDTH, :D_VALUE2_SEQUENCE, :D_VALUE2_PROMPT_TEXT, :D_VALUE2_REQUIRED_FLAG, :D_VALUE2_COLUMN_WIDTH, :N_VALUE3_SEQUENCE, :N_VALUE3_PROMPT_TEXT, :N_VALUE3_REQUIRED_FLAG, :N_VALUE3_COLUMN_WIDTH, :C_VALUE3_SEQUENCE, :C_VALUE3_PROMPT_TEXT, :C_VALUE3_REQUIRED_FLAG, :C_VALUE3_COLUMN_WIDTH, :D_VALUE3_SEQUENCE, :D_VALUE3_PROMPT_TEXT, :D_VALUE3_REQUIRED_FLAG, :D_VALUE3_COLUMN_WIDTH, :N_VALUE4_SEQUENCE, :N_VALUE4_PROMPT_TEXT, :N_VALUE4_REQUIRED_FLAG, :N_VALUE4_COLUMN_WIDTH, :C_VALUE4_SEQUENCE, :C_VALUE4_PROMPT_TEXT, :C_VALUE4_REQUIRED_FLAG, :C_VALUE4_COLUMN_WIDTH, :D_VALUE4_SEQUENCE, :D_VALUE4_PROMPT_TEXT, :D_VALUE4_REQUIRED_FLAG, :D_VALUE4_COLUMN_WIDTH, :N_VALUE5_SEQUENCE, :N_VALUE5_PROMPT_TEXT, :N_VALUE5_REQUIRED_FLAG, :N_VALUE5_COLUMN_WIDTH, :C_VALUE5_SEQUENCE, :C_VALUE5_PROMPT_TEXT, :C_VALUE5_REQUIRED_FLAG, :C_VALUE5_COLUMN_WIDTH, :D_VALUE5_SEQUENCE, :D_VALUE5_PROMPT_TEXT, :D_VALUE5_REQUIRED_FLAG, :D_VALUE5_COLUMN_WIDTH, :N_VALUE6_SEQUENCE, :N_VALUE6_PROMPT_TEXT, :N_VALUE6_REQUIRED_FLAG, :N_VALUE6_COLUMN_WIDTH, :C_VALUE6_SEQUENCE, :C_VALUE6_PROMPT_TEXT, :C_VALUE6_REQUIRED_FLAG, :C_VALUE6_COLUMN_WIDTH, :D_VALUE6_SEQUENCE, :D_VALUE6_PROMPT_TEXT, :D_VALUE6_REQUIRED_FLAG, :D_VALUE6_COLUMN_WIDTH, :N_VALUE7_SEQUENCE, :N_VALUE7_PROMPT_TEXT, :N_VALUE7_REQUIRED_FLAG, :N_VALUE7_COLUMN_WIDTH, :C_VALUE7_SEQUENCE, :C_VALUE7_PROMPT_TEXT, :C_VALUE7_REQUIRED_FLAG, :C_VALUE7_COLUMN_WIDTH, :D_VALUE7_SEQUENCE, :D_VALUE7_PROMPT_TEXT, :D_VALUE7_REQUIRED_FLAG, :D_VALUE7_COLUMN_WIDTH, :N_VALUE8_SEQUENCE, :N_VALUE8_PROMPT_TEXT, :N_VALUE8_REQUIRED_FLAG, :N_VALUE8_COLUMN_WIDTH, :C_VALUE8_SEQUENCE, :C_VALUE8_PROMPT_TEXT, :C_VALUE8_REQUIRED_FLAG, :C_VALUE8_COLUMN_WIDTH, :D_VALUE8_SEQUENCE, :D_VALUE8_PROMPT_TEXT, :D_VALUE8_REQUIRED_FLAG, :D_VALUE8_COLUMN_WIDTH, :N_VALUE9_SEQUENCE, :N_VALUE9_PROMPT_TEXT, :N_VALUE9_REQUIRED_FLAG, :N_VALUE9_COLUMN_WIDTH, :C_VALUE9_SEQUENCE, :C_VALUE9_PROMPT_TEXT, :C_VALUE9_REQUIRED_FLAG, :C_VALUE9_COLUMN_WIDTH, :D_VALUE9_SEQUENCE, :D_VALUE9_PROMPT_TEXT, :D_VALUE9_REQUIRED_FLAG, :D_VALUE9_COLUMN_WIDTH, :N_VALUE10_SEQUENCE, :N_VALUE10_PROMPT_TEXT, :N_VALUE10_REQUIRED_FLAG, :N_VALUE10_COLUMN_WIDTH, :C_VALUE10_SEQUENCE, :C_VALUE10_PROMPT_TEXT, :C_VALUE10_REQUIRED_FLAG, :C_VALUE10_COLUMN_WIDTH, :D_VALUE10_SEQUENCE, :D_VALUE10_PROMPT_TEXT, :D_VALUE10_REQUIRED_FLAG, :D_VALUE10_COLUMN_WIDTH, :N_VALUE11_SEQUENCE, :N_VALUE11_PROMPT_TEXT, :N_VALUE11_REQUIRED_FLAG, :N_VALUE11_COLUMN_WIDTH, :C_VALUE11_SEQUENCE, :C_VALUE11_PROMPT_TEXT, :C_VALUE11_REQUIRED_FLAG, :C_VALUE11_COLUMN_WIDTH, :D_VALUE11_SEQUENCE, :D_VALUE11_PROMPT_TEXT, :D_VALUE11_REQUIRED_FLAG, :D_VALUE11_COLUMN_WIDTH, :N_VALUE12_SEQUENCE, :N_VALUE12_PROMPT_TEXT, :N_VALUE12_REQUIRED_FLAG, :N_VALUE12_COLUMN_WIDTH, :C_VALUE12_SEQUENCE, :C_VALUE12_PROMPT_TEXT, :C_VALUE12_REQUIRED_FLAG, :C_VALUE12_COLUMN_WIDTH, :D_VALUE12_SEQUENCE, :D_VALUE12_PROMPT_TEXT, :D_VALUE12_REQUIRED_FLAG, :D_VALUE12_COLUMN_WIDTH, :N_VALUE13_SEQUENCE, :N_VALUE13_PROMPT_TEXT, :N_VALUE13_REQUIRED_FLAG, :N_VALUE13_COLUMN_WIDTH, :C_VALUE13_SEQUENCE, :C_VALUE13_PROMPT_TEXT, :C_VALUE13_REQUIRED_FLAG, :C_VALUE13_COLUMN_WIDTH, :D_VALUE13_SEQUENCE, :D_VALUE13_PROMPT_TEXT, :D_VALUE13_REQUIRED_FLAG, :D_VALUE13_COLUMN_WIDTH, :N_VALUE14_SEQUENCE, :N_VALUE14_PROMPT_TEXT, :N_VALUE14_REQUIRED_FLAG, :N_VALUE14_COLUMN_WIDTH, :C_VALUE14_SEQUENCE, :C_VALUE14_PROMPT_TEXT, :C_VALUE14_REQUIRED_FLAG, :C_VALUE14_COLUMN_WIDTH, :D_VALUE14_SEQUENCE, :D_VALUE14_PROMPT_TEXT, :D_VALUE14_REQUIRED_FLAG, :D_VALUE14_COLUMN_WIDTH, :N_VALUE15_SEQUENCE, :N_VALUE15_PROMPT_TEXT, :N_VALUE15_REQUIRED_FLAG, :N_VALUE15_COLUMN_WIDTH, :C_VALUE15_SEQUENCE, :C_VALUE15_PROMPT_TEXT, :C_VALUE15_REQUIRED_FLAG, :C_VALUE15_COLUMN_WIDTH, :D_VALUE15_SEQUENCE, :D_VALUE15_PROMPT_TEXT, :D_VALUE15_REQUIRED_FLAG, :D_VALUE15_COLUMN_WIDTH, :N_VALUE16_SEQUENCE, :N_VALUE16_PROMPT_TEXT, :N_VALUE16_REQUIRED_FLAG, :N_VALUE16_COLUMN_WIDTH, :C_VALUE16_SEQUENCE, :C_VALUE16_PROMPT_TEXT, :C_VALUE16_REQUIRED_FLAG, :C_VALUE16_COLUMN_WIDTH, :D_VALUE16_SEQUENCE, :D_VALUE16_PROMPT_TEXT, :D_VALUE16_REQUIRED_FLAG, :D_VALUE16_COLUMN_WIDTH, :N_VALUE17_SEQUENCE, :N_VALUE17_PROMPT_TEXT, :N_VALUE17_REQUIRED_FLAG, :N_VALUE17_COLUMN_WIDTH, :C_VALUE17_SEQUENCE, :C_VALUE17_PROMPT_TEXT, :C_VALUE17_REQUIRED_FLAG, :C_VALUE17_COLUMN_WIDTH, :D_VALUE17_SEQUENCE, :D_VALUE17_PROMPT_TEXT, :D_VALUE17_REQUIRED_FLAG, :D_VALUE17_COLUMN_WIDTH, :N_VALUE18_SEQUENCE, :N_VALUE18_PROMPT_TEXT, :N_VALUE18_REQUIRED_FLAG, :N_VALUE18_COLUMN_WIDTH, :C_VALUE18_SEQUENCE, :C_VALUE18_PROMPT_TEXT, :C_VALUE18_REQUIRED_FLAG, :C_VALUE18_COLUMN_WIDTH, :D_VALUE18_SEQUENCE, :D_VALUE18_PROMPT_TEXT, :D_VALUE18_REQUIRED_FLAG, :D_VALUE18_COLUMN_WIDTH, :N_VALUE19_SEQUENCE, :N_VALUE19_PROMPT_TEXT, :N_VALUE19_REQUIRED_FLAG, :N_VALUE19_COLUMN_WIDTH, :C_VALUE19_SEQUENCE, :C_VALUE19_PROMPT_TEXT, :C_VALUE19_REQUIRED_FLAG, :C_VALUE19_COLUMN_WIDTH, :D_VALUE19_SEQUENCE, :D_VALUE19_PROMPT_TEXT, :D_VALUE19_REQUIRED_FLAG, :D_VALUE19_COLUMN_WIDTH, :N_VALUE20_SEQUENCE, :N_VALUE20_PROMPT_TEXT, :N_VALUE20_REQUIRED_FLAG, :N_VALUE20_COLUMN_WIDTH, :C_VALUE20_SEQUENCE, :C_VALUE20_PROMPT_TEXT, :C_VALUE20_REQUIRED_FLAG, :C_VALUE20_COLUMN_WIDTH, :D_VALUE20_SEQUENCE, :D_VALUE20_PROMPT_TEXT, :D_VALUE20_REQUIRED_FLAG, :D_VALUE20_COLUMN_WIDTH, :ATTRIBUTE1, :ATTRIBUTE2, :ATTRIBUTE3, :ATTRIBUTE4, :ATTRIBUTE5, :ACTIVE_BEGIN_DATE, :ACTIVE_END_DATE, :CREATED_BY, :CREATION_DATE, :LAST_UPDATED_BY, :LAST_UPDATE_DATE, :N_VALUE1_UI_SHOW, :N_VALUE1_UI_UPDATE, :C_VALUE1_UI_SHOW, :C_VALUE1_UI_UPDATE, :D_VALUE1_UI_SHOW, :D_VALUE1_UI_UPDATE, :N_VALUE2_UI_SHOW, :N_VALUE2_UI_UPDATE, :C_VALUE2_UI_SHOW, :C_VALUE2_UI_UPDATE, :D_VALUE2_UI_SHOW, :D_VALUE2_UI_UPDATE, :N_VALUE3_UI_SHOW, :N_VALUE3_UI_UPDATE, :C_VALUE3_UI_SHOW, :C_VALUE3_UI_UPDATE, :D_VALUE3_UI_SHOW, :D_VALUE3_UI_UPDATE, :N_VALUE4_UI_SHOW, :N_VALUE4_UI_UPDATE, :C_VALUE4_UI_SHOW, :C_VALUE4_UI_UPDATE, :D_VALUE4_UI_SHOW, :D_VALUE4_UI_UPDATE, :N_VALUE5_UI_SHOW, :N_VALUE5_UI_UPDATE, :C_VALUE5_UI_SHOW, :C_VALUE5_UI_UPDATE, :D_VALUE5_UI_SHOW, :D_VALUE5_UI_UPDATE, :N_VALUE6_UI_SHOW, :N_VALUE6_UI_UPDATE, :C_VALUE6_UI_SHOW, :C_VALUE6_UI_UPDATE, :D_VALUE6_UI_SHOW, :D_VALUE6_UI_UPDATE, :N_VALUE7_UI_SHOW, :N_VALUE7_UI_UPDATE, :C_VALUE7_UI_SHOW, :C_VALUE7_UI_UPDATE, :D_VALUE7_UI_SHOW, :D_VALUE7_UI_UPDATE, :N_VALUE8_UI_SHOW, :N_VALUE8_UI_UPDATE, :C_VALUE8_UI_SHOW, :C_VALUE8_UI_UPDATE, :D_VALUE8_UI_SHOW, :D_VALUE8_UI_UPDATE, :N_VALUE9_UI_SHOW, :N_VALUE9_UI_UPDATE, :C_VALUE9_UI_SHOW, :C_VALUE9_UI_UPDATE, :D_VALUE9_UI_SHOW, :D_VALUE9_UI_UPDATE, :N_VALUE10_UI_SHOW, :N_VALUE10_UI_UPDATE, :C_VALUE10_UI_SHOW, :C_VALUE10_UI_UPDATE, :D_VALUE10_UI_SHOW, :D_VALUE10_UI_UPDATE, :N_VALUE11_UI_SHOW, :N_VALUE11_UI_UPDATE, :C_VALUE11_UI_SHOW, :C_VALUE11_UI_UPDATE, :D_VALUE11_UI_SHOW, :D_VALUE11_UI_UPDATE, :N_VALUE12_UI_SHOW, :N_VALUE12_UI_UPDATE, :C_VALUE12_UI_SHOW, :C_VALUE12_UI_UPDATE, :D_VALUE12_UI_SHOW, :D_VALUE12_UI_UPDATE, :N_VALUE13_UI_SHOW, :N_VALUE13_UI_UPDATE, :C_VALUE13_UI_SHOW, :C_VALUE13_UI_UPDATE, :D_VALUE13_UI_SHOW, :D_VALUE13_UI_UPDATE, :N_VALUE14_UI_SHOW, :N_VALUE14_UI_UPDATE, :C_VALUE14_UI_SHOW, :C_VALUE14_UI_UPDATE, :D_VALUE14_UI_SHOW, :D_VALUE14_UI_UPDATE, :N_VALUE15_UI_SHOW, :N_VALUE15_UI_UPDATE, :C_VALUE15_UI_SHOW, :C_VALUE15_UI_UPDATE, :D_VALUE15_UI_SHOW, :D_VALUE15_UI_UPDATE, :N_VALUE16_UI_SHOW, :N_VALUE16_UI_UPDATE, :C_VALUE16_UI_SHOW, :C_VALUE16_UI_UPDATE, :D_VALUE16_UI_SHOW, :D_VALUE16_UI_UPDATE, :N_VALUE17_UI_SHOW, :N_VALUE17_UI_UPDATE, :C_VALUE17_UI_SHOW, :C_VALUE17_UI_UPDATE, :D_VALUE17_UI_SHOW, :D_VALUE17_UI_UPDATE, :N_VALUE18_UI_SHOW, :N_VALUE18_UI_UPDATE, :C_VALUE18_UI_SHOW, :C_VALUE18_UI_UPDATE, :D_VALUE18_UI_SHOW, :D_VALUE18_UI_UPDATE, :N_VALUE19_UI_SHOW, :N_VALUE19_UI_UPDATE, :C_VALUE19_UI_SHOW, :C_VALUE19_UI_UPDATE, :D_VALUE19_UI_SHOW, :D_VALUE19_UI_UPDATE, :N_VALUE20_UI_SHOW, :N_VALUE20_UI_UPDATE, :C_VALUE20_UI_SHOW, :C_VALUE20_UI_UPDATE, :D_VALUE20_UI_SHOW, :D_VALUE20_UI_UPDATE)'

SELECT *
                 FROM APPS.XXCMN_VALUE_MAP
                 WHERE MAP_DEFINITION_ID = 301
                 ORDER BY map_id

In [63]:
vm_df

,MAP_ID,MAP_DEFINITION_ID,N_VALUE1,C_VALUE1,D_VALUE1,N_VALUE2,C_VALUE2,D_VALUE2,N_VALUE3,C_VALUE3,...,N_VALUE20,C_VALUE20,D_VALUE20,ACTIVE_BEGIN_DATE,ACTIVE_END_DATE,CREATED_BY,CREATION_DATE,LAST_UPDATED_BY,LAST_UPDATE_DATE,LAST_UPDATE_LOGIN
0,7464,301,None,AWI,None,None,Immediate,None,None,Customer Pickup,...,None,None,None,None,None,1088.0,2021-08-03 09:46:28,1088.0,2022-06-03 10:30:58,None
1,7466,301,None,AWI,None,None,None,None,None,Truck,...,None,None,None,None,None,1088.0,2021-08-03 09:48:20,1088.0,2021-08-03 09:48:20,None
2,26269,301,None,GS,None,None,Immediate,None,None,Customer Pickup,...,None,None,None,None,None,1088.0,2023-08-23 09:24:52,1088.0,2023-08-23 09:24:52,None
3,26270,301,None,GS,None,None,None,None,None,Truck,...,None,None,None,None,None,1088.0,2023-08-23 09:24:52,1088.0,2023-08-23 09:24:52,None

In [64]:
def_df

,MAP_DEFINITION_ID,MAP_CODE,MAP_DESC,ACTIVE_DATE_FLAG,N_VALUE1_SEQUENCE,N_VALUE1_PROMPT_TEXT,N_VALUE1_REQUIRED_FLAG,N_VALUE1_COLUMN_WIDTH,C_VALUE1_SEQUENCE,C_VALUE1_PROMPT_TEXT,...,C_VALUE19_UI_SHOW,C_VALUE19_UI_UPDATE,D_VALUE19_UI_SHOW,D_VALUE19_UI_UPDATE,N_VALUE20_UI_SHOW,N_VALUE20_UI_UPDATE,C_VALUE20_UI_SHOW,C_VALUE20_UI_UPDATE,D_VALUE20_UI_SHOW,D_VALUE20_UI_UPDATE
0,301,OTC_ORDER_ENTRY_UI,OTC Order Entry UI List of Values,Y,None,None,None,None,None,Division,...,None,None,None,None,None,None,None,None,None,None

SELECT * FROM APPS.XXCMN_VALUE_MAP_DEF WHERE MAP_CODE = 'OTC_ORDER_ENTRY_UI'

,0,1,2,3,4,5,6,7,8,9,...,365,366,367,368,369,370,371,372,373,374
0,301,OTC_ORDER_ENTRY_UI,OTC Order Entry UI List of Values,Y,None,None,None,None,None,Division,...,None,None,None,None,None,None,None,None,None,None

In [65]:
column_names = def_df.columns
print(column_names)

Index(['MAP_DEFINITION_ID', 'MAP_CODE', 'MAP_DESC', 'ACTIVE_DATE_FLAG',
       'N_VALUE1_SEQUENCE', 'N_VALUE1_PROMPT_TEXT', 'N_VALUE1_REQUIRED_FLAG',
       'N_VALUE1_COLUMN_WIDTH', 'C_VALUE1_SEQUENCE', 'C_VALUE1_PROMPT_TEXT',
       ...
       'C_VALUE19_UI_SHOW', 'C_VALUE19_UI_UPDATE', 'D_VALUE19_UI_SHOW',
       'D_VALUE19_UI_UPDATE', 'N_VALUE20_UI_SHOW', 'N_VALUE20_UI_UPDATE',
       'C_VALUE20_UI_SHOW', 'C_VALUE20_UI_UPDATE', 'D_VALUE20_UI_SHOW',
       'D_VALUE20_UI_UPDATE'],
      dtype='object', length=375)

In [36]:
def_df = pd.DataFrame(def_df)
column_names = def_df.columns
print("Column Names:")
print(column_names)
def_df

Column Names:
RangeIndex(start=0, stop=375, step=1)

,0,1,2,3,4,5,6,7,8,9,...,365,366,367,368,369,370,371,372,373,374
0,301,OTC_ORDER_ENTRY_UI,OTC Order Entry UI List of Values,Y,None,None,None,None,None,Division,...,None,None,None,None,None,None,None,None,None,None

In [15]:
column_names = [desc[0] for desc in source_cursor.description]

column_names_str = ", ".join(column_names)
print(f"Column Names: {column_names_str}")

Column Names: MAP_DEFINITION_ID, MAP_CODE, MAP_DESC, ACTIVE_DATE_FLAG, N_VALUE1_SEQUENCE, N_VALUE1_PROMPT_TEXT, N_VALUE1_REQUIRED_FLAG, N_VALUE1_COLUMN_WIDTH, C_VALUE1_SEQUENCE, C_VALUE1_PROMPT_TEXT, C_VALUE1_REQUIRED_FLAG, C_VALUE1_COLUMN_WIDTH, D_VALUE1_SEQUENCE, D_VALUE1_PROMPT_TEXT, D_VALUE1_REQUIRED_FLAG, D_VALUE1_COLUMN_WIDTH, N_VALUE2_SEQUENCE, N_VALUE2_PROMPT_TEXT, N_VALUE2_REQUIRED_FLAG, N_VALUE2_COLUMN_WIDTH, C_VALUE2_SEQUENCE, C_VALUE2_PROMPT_TEXT, C_VALUE2_REQUIRED_FLAG, C_VALUE2_COLUMN_WIDTH, D_VALUE2_SEQUENCE, D_VALUE2_PROMPT_TEXT, D_VALUE2_REQUIRED_FLAG, D_VALUE2_COLUMN_WIDTH, N_VALUE3_SEQUENCE, N_VALUE3_PROMPT_TEXT, N_VALUE3_REQUIRED_FLAG, N_VALUE3_COLUMN_WIDTH, C_VALUE3_SEQUENCE, C_VALUE3_PROMPT_TEXT, C_VALUE3_REQUIRED_FLAG, C_VALUE3_COLUMN_WIDTH, D_VALUE3_SEQUENCE, D_VALUE3_PROMPT_TEXT, D_VALUE3_REQUIRED_FLAG, D_VALUE3_COLUMN_WIDTH, N_VALUE4_SEQUENCE, N_VALUE4_PROMPT_TEXT, N_VALUE4_REQUIRED_FLAG, N_VALUE4_COLUMN_WIDTH, C_VALUE4_SEQUENCE, C_VALUE4_PROMPT_TEXT, C_VALUE4_REQUIRED_FLAG, C_VALUE4_COLUMN_WIDTH, D_VALUE4_SEQUENCE, D_VALUE4_PROMPT_TEXT, D_VALUE4_REQUIRED_FLAG, D_VALUE4_COLUMN_WIDTH, N_VALUE5_SEQUENCE, N_VALUE5_PROMPT_TEXT, N_VALUE5_REQUIRED_FLAG, N_VALUE5_COLUMN_WIDTH, C_VALUE5_SEQUENCE, C_VALUE5_PROMPT_TEXT, C_VALUE5_REQUIRED_FLAG, C_VALUE5_COLUMN_WIDTH, D_VALUE5_SEQUENCE, D_VALUE5_PROMPT_TEXT, D_VALUE5_REQUIRED_FLAG, D_VALUE5_COLUMN_WIDTH, N_VALUE6_SEQUENCE, N_VALUE6_PROMPT_TEXT, N_VALUE6_REQUIRED_FLAG, N_VALUE6_COLUMN_WIDTH, C_VALUE6_SEQUENCE, C_VALUE6_PROMPT_TEXT, C_VALUE6_REQUIRED_FLAG, C_VALUE6_COLUMN_WIDTH, D_VALUE6_SEQUENCE, D_VALUE6_PROMPT_TEXT, D_VALUE6_REQUIRED_FLAG, D_VALUE6_COLUMN_WIDTH, N_VALUE7_SEQUENCE, N_VALUE7_PROMPT_TEXT, N_VALUE7_REQUIRED_FLAG, N_VALUE7_COLUMN_WIDTH, C_VALUE7_SEQUENCE, C_VALUE7_PROMPT_TEXT, C_VALUE7_REQUIRED_FLAG, C_VALUE7_COLUMN_WIDTH, D_VALUE7_SEQUENCE, D_VALUE7_PROMPT_TEXT, D_VALUE7_REQUIRED_FLAG, D_VALUE7_COLUMN_WIDTH, N_VALUE8_SEQUENCE, N_VALUE8_PROMPT_TEXT, N_VALUE8_REQUIRED_FLAG, N_VALUE8_COLUMN_WIDTH, C_VALUE8_SEQUENCE, C_VALUE8_PROMPT_TEXT, C_VALUE8_REQUIRED_FLAG, C_VALUE8_COLUMN_WIDTH, D_VALUE8_SEQUENCE, D_VALUE8_PROMPT_TEXT, D_VALUE8_REQUIRED_FLAG, D_VALUE8_COLUMN_WIDTH, N_VALUE9_SEQUENCE, N_VALUE9_PROMPT_TEXT, N_VALUE9_REQUIRED_FLAG, N_VALUE9_COLUMN_WIDTH, C_VALUE9_SEQUENCE, C_VALUE9_PROMPT_TEXT, C_VALUE9_REQUIRED_FLAG, C_VALUE9_COLUMN_WIDTH, D_VALUE9_SEQUENCE, D_VALUE9_PROMPT_TEXT, D_VALUE9_REQUIRED_FLAG, D_VALUE9_COLUMN_WIDTH, N_VALUE10_SEQUENCE, N_VALUE10_PROMPT_TEXT, N_VALUE10_REQUIRED_FLAG, N_VALUE10_COLUMN_WIDTH, C_VALUE10_SEQUENCE, C_VALUE10_PROMPT_TEXT, C_VALUE10_REQUIRED_FLAG, C_VALUE10_COLUMN_WIDTH, D_VALUE10_SEQUENCE, D_VALUE10_PROMPT_TEXT, D_VALUE10_REQUIRED_FLAG, D_VALUE10_COLUMN_WIDTH, N_VALUE11_SEQUENCE, N_VALUE11_PROMPT_TEXT, N_VALUE11_REQUIRED_FLAG, N_VALUE11_COLUMN_WIDTH, C_VALUE11_SEQUENCE, C_VALUE11_PROMPT_TEXT, C_VALUE11_REQUIRED_FLAG, C_VALUE11_COLUMN_WIDTH, D_VALUE11_SEQUENCE, D_VALUE11_PROMPT_TEXT, D_VALUE11_REQUIRED_FLAG, D_VALUE11_COLUMN_WIDTH, N_VALUE12_SEQUENCE, N_VALUE12_PROMPT_TEXT, N_VALUE12_REQUIRED_FLAG, N_VALUE12_COLUMN_WIDTH, C_VALUE12_SEQUENCE, C_VALUE12_PROMPT_TEXT, C_VALUE12_REQUIRED_FLAG, C_VALUE12_COLUMN_WIDTH, D_VALUE12_SEQUENCE, D_VALUE12_PROMPT_TEXT, D_VALUE12_REQUIRED_FLAG, D_VALUE12_COLUMN_WIDTH, N_VALUE13_SEQUENCE, N_VALUE13_PROMPT_TEXT, N_VALUE13_REQUIRED_FLAG, N_VALUE13_COLUMN_WIDTH, C_VALUE13_SEQUENCE, C_VALUE13_PROMPT_TEXT, C_VALUE13_REQUIRED_FLAG, C_VALUE13_COLUMN_WIDTH, D_VALUE13_SEQUENCE, D_VALUE13_PROMPT_TEXT, D_VALUE13_REQUIRED_FLAG, D_VALUE13_COLUMN_WIDTH, N_VALUE14_SEQUENCE, N_VALUE14_PROMPT_TEXT, N_VALUE14_REQUIRED_FLAG, N_VALUE14_COLUMN_WIDTH, C_VALUE14_SEQUENCE, C_VALUE14_PROMPT_TEXT, C_VALUE14_REQUIRED_FLAG, C_VALUE14_COLUMN_WIDTH, D_VALUE14_SEQUENCE, D_VALUE14_PROMPT_TEXT, D_VALUE14_REQUIRED_FLAG, D_VALUE14_COLUMN_WIDTH, N_VALUE15_SEQUENCE, N_VALUE15_PROMPT_TEXT, N_VALUE15_REQUIRED_FLAG, N_VALUE15_COLUMN_WIDTH, C_VALUE15_SEQUENCE, C_VALUE15_PROMPT_TEXT, C_VALUE15_REQUIRED_FLAG, C_VALUE15_COLUMN_WIDTH, D_VALUE15_SEQUENCE, D_VALUE15_PROMPT_TEXT, D_VALUE15_REQUIRED_FLAG, D_VALUE15_COLUMN_WIDTH, N_VALUE16_SEQUENCE, N_VALUE16_PROMPT_TEXT, N_VALUE16_REQUIRED_FLAG, N_VALUE16_COLUMN_WIDTH, C_VALUE16_SEQUENCE, C_VALUE16_PROMPT_TEXT, C_VALUE16_REQUIRED_FLAG, C_VALUE16_COLUMN_WIDTH, D_VALUE16_SEQUENCE, D_VALUE16_PROMPT_TEXT, D_VALUE16_REQUIRED_FLAG, D_VALUE16_COLUMN_WIDTH, N_VALUE17_SEQUENCE, N_VALUE17_PROMPT_TEXT, N_VALUE17_REQUIRED_FLAG, N_VALUE17_COLUMN_WIDTH, C_VALUE17_SEQUENCE, C_VALUE17_PROMPT_TEXT, C_VALUE17_REQUIRED_FLAG, C_VALUE17_COLUMN_WIDTH, D_VALUE17_SEQUENCE, D_VALUE17_PROMPT_TEXT, D_VALUE17_REQUIRED_FLAG, D_VALUE17_COLUMN_WIDTH, N_VALUE18_SEQUENCE, N_VALUE18_PROMPT_TEXT, N_VALUE18_REQUIRED_FLAG, N_VALUE18_COLUMN_WIDTH, C_VALUE18_SEQUENCE, C_VALUE18_PROMPT_TEXT, C_VALUE18_REQUIRED_FLAG, C_VALUE18_COLUMN_WIDTH, D_VALUE18_SEQUENCE, D_VALUE18_PROMPT_TEXT, D_VALUE18_REQUIRED_FLAG, D_VALUE18_COLUMN_WIDTH, N_VALUE19_SEQUENCE, N_VALUE19_PROMPT_TEXT, N_VALUE19_REQUIRED_FLAG, N_VALUE19_COLUMN_WIDTH, C_VALUE19_SEQUENCE, C_VALUE19_PROMPT_TEXT, C_VALUE19_REQUIRED_FLAG, C_VALUE19_COLUMN_WIDTH, D_VALUE19_SEQUENCE, D_VALUE19_PROMPT_TEXT, D_VALUE19_REQUIRED_FLAG, D_VALUE19_COLUMN_WIDTH, N_VALUE20_SEQUENCE, N_VALUE20_PROMPT_TEXT, N_VALUE20_REQUIRED_FLAG, N_VALUE20_COLUMN_WIDTH, C_VALUE20_SEQUENCE, C_VALUE20_PROMPT_TEXT, C_VALUE20_REQUIRED_FLAG, C_VALUE20_COLUMN_WIDTH, D_VALUE20_SEQUENCE, D_VALUE20_PROMPT_TEXT, D_VALUE20_REQUIRED_FLAG, D_VALUE20_COLUMN_WIDTH, ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ACTIVE_BEGIN_DATE, ACTIVE_END_DATE, CREATED_BY, CREATION_DATE, LAST_UPDATED_BY, LAST_UPDATE_DATE, N_VALUE1_UI_SHOW, N_VALUE1_UI_UPDATE, C_VALUE1_UI_SHOW, C_VALUE1_UI_UPDATE, D_VALUE1_UI_SHOW, D_VALUE1_UI_UPDATE, N_VALUE2_UI_SHOW, N_VALUE2_UI_UPDATE, C_VALUE2_UI_SHOW, C_VALUE2_UI_UPDATE, D_VALUE2_UI_SHOW, D_VALUE2_UI_UPDATE, N_VALUE3_UI_SHOW, N_VALUE3_UI_UPDATE, C_VALUE3_UI_SHOW, C_VALUE3_UI_UPDATE, D_VALUE3_UI_SHOW, D_VALUE3_UI_UPDATE, N_VALUE4_UI_SHOW, N_VALUE4_UI_UPDATE, C_VALUE4_UI_SHOW, C_VALUE4_UI_UPDATE, D_VALUE4_UI_SHOW, D_VALUE4_UI_UPDATE, N_VALUE5_UI_SHOW, N_VALUE5_UI_UPDATE, C_VALUE5_UI_SHOW, C_VALUE5_UI_UPDATE, D_VALUE5_UI_SHOW, D_VALUE5_UI_UPDATE, N_VALUE6_UI_SHOW, N_VALUE6_UI_UPDATE, C_VALUE6_UI_SHOW, C_VALUE6_UI_UPDATE, D_VALUE6_UI_SHOW, D_VALUE6_UI_UPDATE, N_VALUE7_UI_SHOW, N_VALUE7_UI_UPDATE, C_VALUE7_UI_SHOW, C_VALUE7_UI_UPDATE, D_VALUE7_UI_SHOW, D_VALUE7_UI_UPDATE, N_VALUE8_UI_SHOW, N_VALUE8_UI_UPDATE, C_VALUE8_UI_SHOW, C_VALUE8_UI_UPDATE, D_VALUE8_UI_SHOW, D_VALUE8_UI_UPDATE, N_VALUE9_UI_SHOW, N_VALUE9_UI_UPDATE, C_VALUE9_UI_SHOW, C_VALUE9_UI_UPDATE, D_VALUE9_UI_SHOW, D_VALUE9_UI_UPDATE, N_VALUE10_UI_SHOW, N_VALUE10_UI_UPDATE, C_VALUE10_UI_SHOW, C_VALUE10_UI_UPDATE, D_VALUE10_UI_SHOW, D_VALUE10_UI_UPDATE, N_VALUE11_UI_SHOW, N_VALUE11_UI_UPDATE, C_VALUE11_UI_SHOW, C_VALUE11_UI_UPDATE, D_VALUE11_UI_SHOW, D_VALUE11_UI_UPDATE, N_VALUE12_UI_SHOW, N_VALUE12_UI_UPDATE, C_VALUE12_UI_SHOW, C_VALUE12_UI_UPDATE, D_VALUE12_UI_SHOW, D_VALUE12_UI_UPDATE, N_VALUE13_UI_SHOW, N_VALUE13_UI_UPDATE, C_VALUE13_UI_SHOW, C_VALUE13_UI_UPDATE, D_VALUE13_UI_SHOW, D_VALUE13_UI_UPDATE, N_VALUE14_UI_SHOW, N_VALUE14_UI_UPDATE, C_VALUE14_UI_SHOW, C_VALUE14_UI_UPDATE, D_VALUE14_UI_SHOW, D_VALUE14_UI_UPDATE, N_VALUE15_UI_SHOW, N_VALUE15_UI_UPDATE, C_VALUE15_UI_SHOW, C_VALUE15_UI_UPDATE, D_VALUE15_UI_SHOW, D_VALUE15_UI_UPDATE, N_VALUE16_UI_SHOW, N_VALUE16_UI_UPDATE, C_VALUE16_UI_SHOW, C_VALUE16_UI_UPDATE, D_VALUE16_UI_SHOW, D_VALUE16_UI_UPDATE, N_VALUE17_UI_SHOW, N_VALUE17_UI_UPDATE, C_VALUE17_UI_SHOW, C_VALUE17_UI_UPDATE, D_VALUE17_UI_SHOW, D_VALUE17_UI_UPDATE, N_VALUE18_UI_SHOW, N_VALUE18_UI_UPDATE, C_VALUE18_UI_SHOW, C_VALUE18_UI_UPDATE, D_VALUE18_UI_SHOW, D_VALUE18_UI_UPDATE, N_VALUE19_UI_SHOW, N_VALUE19_UI_UPDATE, C_VALUE19_UI_SHOW, C_VALUE19_UI_UPDATE, D_VALUE19_UI_SHOW, D_VALUE19_UI_UPDATE, N_VALUE20_UI_SHOW, N_VALUE20_UI_UPDATE, C_VALUE20_UI_SHOW, C_VALUE20_UI_UPDATE, D_VALUE20_UI_SHOW, D_VALUE20_UI_UPDATE

In [38]:
def_df

,0,1,2,3,4,5,6,7,8,9,...,365,366,367,368,369,370,371,372,373,374
0,301,OTC_ORDER_ENTRY_UI,OTC Order Entry UI List of Values,Y,None,None,None,None,None,Division,...,None,None,None,None,None,None,None,None,None,None

In [33]:
pn_map_def_id = def_df.iloc[0, 0]
pn_map_def_id

301

In [34]:
vm_query = f"""SELECT *
                 FROM APPS.XXCMN_VALUE_MAP 
                 WHERE MAP_DEFINITION_ID = {pn_map_def_id}
                 ORDER BY map_id"""
# print(sql_query)
source_cursor.execute(vm_query)
vm_df = source_cursor.fetchall()
vm_df = pd.DataFrame(vm_df)
vm_df

,0,1,2,3,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,7464,301,None,AWI,None,None,Immediate,None,None,Customer Pickup,...,None,None,None,None,None,1088.0,2021-08-03 09:46:28,1088.0,2022-06-03 10:30:58,None
1,7466,301,None,AWI,None,None,None,None,None,Truck,...,None,None,None,None,None,1088.0,2021-08-03 09:48:20,1088.0,2021-08-03 09:48:20,None
2,26269,301,None,GS,None,None,Immediate,None,None,Customer Pickup,...,None,None,None,None,None,1088.0,2023-08-23 09:24:52,1088.0,2023-08-23 09:24:52,None
3,26270,301,None,GS,None,None,None,None,None,Truck,...,None,None,None,None,None,1088.0,2023-08-23 09:24:52,1088.0,2023-08-23 09:24:52,None

In [59]:
# Specify the target table name
target_table = "OMS_CMN_DATA.XXCMN_VALUE_MAP_DEF"

# Construct the INSERT INTO statement
insert_statement = f"INSERT INTO {target_table} ({', '.join(def_column_names)}) VALUES ({', '.join([':' + col for col in def_column_names])})"

NameError: name 'def_column_names' is not defined

In [58]:
insert_statement

'INSERT INTO APPS.YOUR_TARGET_TABLE_NAME (MAP_ID, MAP_DEFINITION_ID, N_VALUE1, C_VALUE1, D_VALUE1, N_VALUE2, C_VALUE2, D_VALUE2, N_VALUE3, C_VALUE3, D_VALUE3, N_VALUE4, C_VALUE4, D_VALUE4, N_VALUE5, C_VALUE5, D_VALUE5, N_VALUE6, C_VALUE6, D_VALUE6, N_VALUE7, C_VALUE7, D_VALUE7, N_VALUE8, C_VALUE8, D_VALUE8, N_VALUE9, C_VALUE9, D_VALUE9, N_VALUE10, C_VALUE10, D_VALUE10, N_VALUE11, C_VALUE11, D_VALUE11, N_VALUE12, C_VALUE12, D_VALUE12, N_VALUE13, C_VALUE13, D_VALUE13, N_VALUE14, C_VALUE14, D_VALUE14, N_VALUE15, C_VALUE15, D_VALUE15, N_VALUE16, C_VALUE16, D_VALUE16, N_VALUE17, C_VALUE17, D_VALUE17, N_VALUE18, C_VALUE18, D_VALUE18, N_VALUE19, C_VALUE19, D_VALUE19, N_VALUE20, C_VALUE20, D_VALUE20, ACTIVE_BEGIN_DATE, ACTIVE_END_DATE, CREATED_BY, CREATION_DATE, LAST_UPDATED_BY, LAST_UPDATE_DATE, LAST_UPDATE_LOGIN) VALUES (:MAP_ID, :MAP_DEFINITION_ID, :N_VALUE1, :C_VALUE1, :D_VALUE1, :N_VALUE2, :C_VALUE2, :D_VALUE2, :N_VALUE3, :C_VALUE3, :D_VALUE3, :N_VALUE4, :C_VALUE4, :D_VALUE4, :N_VALUE5, :C_VALUE5, :D_VALUE5, :N_VALUE6, :C_VALUE6, :D_VALUE6, :N_VALUE7, :C_VALUE7, :D_VALUE7, :N_VALUE8, :C_VALUE8, :D_VALUE8, :N_VALUE9, :C_VALUE9, :D_VALUE9, :N_VALUE10, :C_VALUE10, :D_VALUE10, :N_VALUE11, :C_VALUE11, :D_VALUE11, :N_VALUE12, :C_VALUE12, :D_VALUE12, :N_VALUE13, :C_VALUE13, :D_VALUE13, :N_VALUE14, :C_VALUE14, :D_VALUE14, :N_VALUE15, :C_VALUE15, :D_VALUE15, :N_VALUE16, :C_VALUE16, :D_VALUE16, :N_VALUE17, :C_VALUE17, :D_VALUE17, :N_VALUE18, :C_VALUE18, :D_VALUE18, :N_VALUE19, :C_VALUE19, :D_VALUE19, :N_VALUE20, :C_VALUE20, :D_VALUE20, :ACTIVE_BEGIN_DATE, :ACTIVE_END_DATE, :CREATED_BY, :CREATION_DATE, :LAST_UPDATED_BY, :LAST_UPDATE_DATE, :LAST_UPDATE_LOGIN)'