# Task to Copy Value Map Tables from Different Instances

In [ ]:
# there are two tables 
XXCMN.XXCMN_GLB_VALUE_MAP 
XXCMN.XXCMN_GLB_VALUE_MAP_DEF

In [1]:
pip install cx_Oracle

Requirement already satisfied: cx_Oracle in c:\users\user\anaconda3\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

DEPRECATION: pyodbc 4.0.0-unsupported has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pyodbc or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

In [2]:
import cx_Oracle

In [3]:
# Source database connection
source_conn = cx_Oracle.connect(
    user="apps",
    password="apps",
    dsn="edp4-scan.cswg.com:1521/EBSF1_USR"
)

# Target database connection
target_conn = cx_Oracle.connect(
    user="apps",
    password="apps",
    dsn="csebsd2db.cswg.com:1521/csebsd2_int"
)

In [4]:
# Source and target table names
source_table = "XXCMN.XXCMN_GLB_VALUE_MAP_DEF"

target_table = "XXCMN.XXCMN_GLB_VALUE_MAP_DEF_Y"

# Create cursors for both connections
source_cursor = source_conn.cursor()
target_cursor = target_conn.cursor()

# Select data from the source table
source_cursor.execute(f"SELECT * FROM XXCMN.XXCMN_GLB_VALUE_MAP_DEF where map_code = ''")
data_to_copy = source_cursor.fetchall()

# Insert data into the target table
for row in data_to_copy:
    target_cursor.execute(f"INSERT INTO XXCMN.XXCMN_GLB_VALUE_MAP_DEF VALUES ({','.join([':1']*len(row))})", row)

# Commit changes to the target database
target_conn.commit()

IntegrityError: ORA-00001: unique constraint (XXCMN.XXCMN_GLB_VALUE_MAP_DEF_U01) violated

In [ ]:
source_cursor.close()
target_cursor.close()
source_conn.close()
target_conn.close()

In [2]:
copy_map_code = 'Dummy_Code'        
del_sql = f"DELETE FROM XXCMN.XXCMN_GLB_VALUE_MAP_DEF WHERE map_code = '{copy_map_code}'"
print(del_sql)

DELETE FROM XXCMN_GLB_VALUE_MAP_DEF WHERE map_code = 'Dummy_Code'

In [ ]:
item_master_select = "SELECT * FROM OMS_ORD_DATA.OMS_ITEM_MASTER "

self.ebs_cur.execute(del_sql)
print('Data Delete for mapcode : {copy_map_code} successfully ')
item_master_df= pd.read_sql_query(item_master_select, self.oms_conn)

item_master_df.replace({np.nan: None}, inplace = True)

item_master_df.fillna('',inplace=True)

item_master_df = item_master_df.astype(str)

print('size of data item_master_df ', item_master_df.shape[0])

item_master_insert = CSReadUtils.read_sql_from_file('oms/interfaces/item_master_details_interface_oms2ebs/scripts/item_master_insert.sql')
CSQueryUtils.execute_sql_on_db('Insert into table XXFIN.OMS_ITEM_MASTER', self.ebs_hook, item_master_insert, item_master_df,batch_mode=True, raise_error=True, print_sql=True)

self.oms_conn.commit()

In [ ]:
#Testing Block for DEV to Dev
# Source and target table names
source_table = "XXCMN.XXCMN_GLB_VALUE_MAP_DEF"
target_table = "XXCMN.XXCMN_GLB_VALUE_MAP_DEF"
copy_map_code = 'Dummy_Code'        
# Create cursors for both connections
source_cursor = source_conn.cursor()
# target_cursor = target_conn.cursor()
target_cursor = source_conn.cursor()

# Select data from the source table
source_cursor.execute(f"SELECT * FROM XXCMN.XXCMN_GLB_VALUE_MAP_DEF where map_code = ''")
data_to_copy = source_cursor.fetchall()

# Insert data into the target table
for row in data_to_copy:
    target_cursor.execute(f"INSERT INTO XXCMN.XXCMN_GLB_VALUE_MAP_DEF VALUES ({','.join([':1']*len(row))})", row)

# Commit changes to the target database
target_conn.commit()